<!doctype html>
<html>
  <head>
    <title><%= settings.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/public/styles/libraries-gateway.css">

    <script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript">document.documentElement.className += " js";</script>
  </head>
  <body data-page="<%= settings.id %>" class="campl-theme-1 campl-homepage-content">

    <!-- Global header -->
    <%- partials.header %>

    <!-- Page content -->
    <%- partials.body %>

    <!-- Global footer -->
    <%- partials.footer %>

    <!-- Scripts -->
    <script src="/public/components/requirejs/require.js" data-main="/public/scripts/main.js"></script>

    <% if (google_analytics_id) { %>
      <!-- Google analytics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '<%= google_analytics_id %>');
        ga('send', 'pageview');
      </script>
    <% } %>

    <% if (crazy_egg_enabled) { %>
      <!-- Crazy egg -->
      <script>
        setTimeout(function(){var a=document.createElement("script");
        var b=document.getElementsByTagName("script")[0];
        a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/7935.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
      </script>
    <% } %>
  </body>
</html>
