<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/public/styles/libraries-gateway.css">

    <script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript">document.documentElement.className += " js";</script>
  </head>
  <body data-page="<%= id %>" class="campl-theme-1 campl-homepage-content">
    <!-- Global header -->
    <%- include partials/header.ejs %>

    <!-- Page content -->
    <%- body %>

    <!-- Global footer -->
    <%- include partials/footer.ejs %>

    <!-- Scripts -->
    <script src="/public/components/requirejs/require.js" data-main="/public/scripts/main.js"></script>
  </body>
</html>
