<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="/components/project-light/stylesheets/full-stylesheet.css">
        <link rel="stylesheet" href="/styles/map.css">

        <script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script type="text/javascript">document.documentElement.className += " js";</script>
    </head>
    <body data-page="<%= currentNode.link %>">
        <!-- Global header -->
        <%- include partials/header.ejs %>

        <!-- Page content -->
        <%- body %>

        <!-- Global footer -->
        <%- include partials/footer.ejs %>

        <!-- Scripts -->
        <script src="/components/requirejs/require.js" data-main="/scripts/main.js"></script>
    </body>
</html>
