<!-- Page header -->
<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix">
    <div class="campl-column12">
      <div class="campl-content-container">
        <div class="campl-breadcrumb" id="breadcrumb">
          <ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
            <li class='first-child'>
              <a href="/" class="campl-home ir">Home</a>
            </li>
            <li>
              <a href="/"><%= title %></a>
            </li>
            <li>
              <p class="campl-current"><%= currentNode.title %></p>
            </li>
          </ul>
        </div>
        <h1 class="campl-page-title"><%= title %></h1>
      </div>
    </div>
  </div>
</div>

<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <%- partials.navigation %>
  </div>

  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">Search results</h2>
    </div>
  </div>
</div>
<!-- page-header ends -->

<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">

    <div class="campl-column9">
      <form class="campl-content-container campl-inpage-search-container">
        <%- partials.search %>
      </form>

      <div class="campl-content-container">
        <ul class="nav nav-tabs campl-nav lg-nav-tabs">
          <li class="active">
            <a href="#aquabrowser" data-toggle="tab">Books & Journals (<%= data.results.aquabrowser.rowCount %> results)</a>
          </li>
          <li>
            <a href="#summon" data-toggle="tab">Articles (<%= data.results.summon.rowCount %> results)</a>
          </li>
        </ul>
      </div>

      <div class="campl-content-container tab-content">

        <!-- Aquabrowser -->
        <div id="aquabrowser" class="active in tab-pane">

          <!-- Aquabrowser -->
          <% if (data.results.aquabrowser.items.length > 0) { %>
            <% for (record in data.results.aquabrowser.items) { %>
              <article class="lg-search-result campl-listing-item campl-search-listing clearfix">
                <div class="campl-column2">
                  <div class="lg-resource-img">
                    <a href="/find-a-resource/aquabrowser/<%= data.results.aquabrowser.items[record].id %>">
                      <% if (data.results.aquabrowser.items[record].thumbnail) { %>
                        <img class="campl-scale-with-grid" src="<%= data.results.aquabrowser.items[record].thumbnail %>" alt="<%= data.results.aquabrowser.items[record].title %>">
                      <% } else { %>
                        <img class="campl-scale-with-grid" src="/public/images/resource-no-image.jpg" alt="No image available">
                      <% } %>
                    </a>
                  </div>
                </div>
                <div class="campl-column10">
                  <div class="campl-content-container campl-listing-txt">
                    <header>
                      <h3 class="campl-listing-title">
                        <a href="/find-a-resource/aquabrowser/<%= data.results.aquabrowser.items[record].id %>"><%= data.results.aquabrowser.items[record].title %></a>
                      </h3>
                    </header>
                    <ul class="lg-resource-properties">
                      <% if (data.results.aquabrowser.items[record].author) { %>
                        <li>
                          <h4>Author(s)</h4>
                          <ul>
                            <li><%= data.results.aquabrowser.items[record].author %></li>
                          </ul>
                        </li>
                      <% } %>
                      <% if (data.results.aquabrowser.items[record].date) { %>
                        <li>
                          <h4>Published</h4>
                          <ul>
                            <li><%= data.results.aquabrowser.items[record].date %></li>
                          </ul>
                        </li>
                      <% } %>
                      <% if (data.results.aquabrowser.items[record].isbn) { %>
                        <li>
                          <h4>ISBN</h4>
                          <ul>
                            <li><%= data.results.aquabrowser.items[record].isbn %></li>
                          </ul>
                        </li>
                      <% } %>
                    </ul>
                  </div>
                </div>
              </article>
            <% } %>

            <!-- Pagination start -->
            <% if (data.results.aquabrowser.pagination) { %>
            <div class="campl-pagination campl-pagination-centered">
              <ul>
                <% if (data.results.aquabrowser.pagination.previousPage.visible) { %>
                  <li class="campl-previous-li">
                    <a href="/find-a-resource?<%= data.results.aquabrowser.pagination.previousPage.url %>" class="ir campl-pagination-btn campl-previous"><span class="campl-arrow-span"></span>previous</a>
                  </li>
                <% } %>
                <% for (page in data.results.aquabrowser.pagination.pageRange) { %>

                  <% if (data.results.aquabrowser.pagination.pageRange[page].type === 'page') { %>
                    <li <% if (data.results.aquabrowser.pagination.pageRange[page].number === data.results.aquabrowser.pagination.pageNumber) { %>class="campl-active"<% } %>>
                      <a href="/find-a-resource?<%= data.results.aquabrowser.pagination.pageRange[page].url %>"><%= data.results.aquabrowser.pagination.pageRange[page].number %></a>
                    </li>
                  <% } else { %>
                    <li>
                      <span class="campl-elipsis">...</span>
                    </li>
                  <% } %>
                <% } %>
                <% if (data.results.aquabrowser.pagination.nextPage.visible) { %>
                  <li class="campl-next-li">
                    <a href="/find-a-resource?<%= data.results.aquabrowser.pagination.nextPage.url %>" class="ir campl-pagination-btn campl-next"><span class="campl-arrow-span"></span>next</a>
                  </li>
                <% } %>
              </ul>
            </div>
            <% } %>
            <!-- Pagination end -->

          <% } else { %>
            <p>No results were found.</p>
          <% } %>
        </div>

        <!-- Summon -->
        <div id="summon" class="tab-pane">
          <% if (data.results.summon.rowCount > 0) { %>
            <% for (record in data.results.summon.items) { %>
              <article class="lg-search-result campl-listing-item campl-search-listing clearfix">
                <div class="campl-column2">
                  <div class="lg-resource-img">
                    <a href="/find-a-resource/summon/<%= data.results.summon.items[record].id %>">
                      <% if (data.results.summon.items[record].thumbnail) { %>
                        <img class="campl-scale-with-grid" src="<%= data.results.summon.items[record].thumbnail %>" alt="<%= data.results.summon.items[record].title %>">
                      <% } else { %>
                        <img class="campl-scale-with-grid" src="/public/images/resource-no-image.jpg" alt="No image available">
                      <% } %>
                    </a>
                  </div>
                </div>
                <div class="campl-column10">
                  <div class="campl-content-container campl-listing-txt">
                    <header>
                      <h3 class="campl-listing-title">
                        <a href="/find-a-resource/summon/<%= data.results.summon.items[record].id %>"><%= data.results.summon.items[record].title %></a>
                      </h3>
                    </header>
                    <ul class="lg-resource-properties">
                      <% if (data.results.summon.items[record].author) { %>
                        <li>
                          <h4>Author(s)</h4>
                          <ul>
                            <li><%= data.results.summon.items[record].author %></li>
                          </ul>
                        </li>
                      <% } %>
                      <% if (data.results.summon.items[record].date) { %>
                        <li>
                          <h4>Published</h4>
                          <ul>
                            <li><%= data.results.summon.items[record].date %></li>
                          </ul>
                        </li>
                      <% } %>
                      <% if (data.results.summon.items[record].eisbn) { %>
                        <li>
                          <h4>EISBN</h4>
                          <ul>
                            <li><%= data.results.summon.items[record].eisbn %></li>
                          </ul>
                        </li>
                      <% } %>
                    </ul>
                  </div>
                </div>
              </article>
            <% } %>

            <!-- Pagination start -->
            <% if (data.results.summon.pagination) { %>
              <div class="campl-pagination campl-pagination-centered">
                <ul>
                  <% if (data.results.summon.pagination.previousPage.visible) { %>
                    <li class="campl-previous-li">
                      <a href="/find-a-resource?<%= data.results.summon.pagination.previousPage.url %>" class="ir campl-pagination-btn campl-previous"><span class="campl-arrow-span"></span>previous</a>
                    </li>
                  <% } %>
                  <% for (page in data.results.summon.pagination.pageRange) { %>

                    <% if (data.results.summon.pagination.pageRange[page].type === 'page') { %>
                      <li <% if (data.results.summon.pagination.pageRange[page].number === data.results.summon.pagination.pageNumber) { %>class="campl-active"<% } %>>
                        <a href="/find-a-resource?<%= data.results.summon.pagination.pageRange[page].url %>"><%= data.results.summon.pagination.pageRange[page].number %></a>
                      </li>
                    <% } else { %>
                      <li>
                        <span class="campl-elipsis">...</span>
                      </li>
                    <% } %>
                  <% } %>
                  <% if (data.results.summon.pagination.nextPage.visible) { %>
                    <li class="campl-next-li">
                      <a href="/find-a-resource?<%= data.results.summon.pagination.nextPage.url %>" class="ir campl-pagination-btn campl-next"><span class="campl-arrow-span"></span>next</a>
                    </li>
                  <% } %>
                </ul>
              </div>
            <% } %>
            <!-- Pagination end -->

          <% } else { %>
            <p>No results were found.</p>
          <% } %>
        </div>
      </div>
    </div>

    <div class="campl-column3 campl-secondary-content">
      <%- include ../partials/promo-researchskills.ejs %>
    </div>

  </div>
</div>
