<!-- Page header -->
<% include ../partials/globals/page-header %>

<!-- Custom header -->
<div class="campl-row campl-page-header">

  <!-- Navigation -->
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <% include ../partials/globals/navigation %>
  </div>

  <!-- Page title -->
  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">Refine your search</h2>
    </div>
  </div>
</div>

<!-- Content -->
<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">

    <!-- Facets overview-->
    <div class="campl-column12">
      <div class="campl-content-container">

        <!-- Facet category -->
        <div class="campl-heading-container lg-facet-collection-header">
          <h2><%= data.results[0].label %></h2>
          <a href="/find-a-resource?<%= data.query %>">Cancel</a>
        </div>

        <!-- Facets list -->
        <ul class="campl-top-padding lg-facet-collection">
          <% for (facet in data.results[0].facets) { %>
            <li><a href="/find-a-resource?<%= data.results[0].facets[facet].url %>"><%= data.results[0].facets[facet].label %> (<%= data.results[0].facets[facet].numItems %>)</a></li>
          <% } %>
        </ul>
      </div>
    </div>

  </div>
</div>
