<!-- Page header -->
<% include ../partials/globals/page-header %>

<!-- Custom header -->
<div class="campl-row campl-page-header">

  <!-- Navigation -->
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <% include ../partials/globals/navigation %>
  </div>

  <!-- Page title -->
  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">Search results</h2>
    </div>
  </div>
</div>

<!-- Content -->
<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">

    <!-- Content -->
    <div class="campl-column9">

      <!-- Search -->
      <form class="campl-content-container campl-inpage-search-container">
        <% include ../partials/find-a-resource/search %>
      </form>

      <!-- Tabs -->
      <div class="campl-top-padding">
        <ul class="campl-nav campl-nav-tabs campl-nav">

          <!-- Aquabrowser -->
          <li<% if (!data.search.query.api || data.search.query.api === 'aquabrowser') { %> class="active"<% } %>>
            <a href="<% if (data.search.query.q) { %>/find-a-resource?q=<%= data.search.query.q %>&api=aquabrowser<% } %>">Books & Journals<% if (!data.search.query.api || data.search.query.api === 'aquabrowser') { %> (<%= data.search.results.rowCount || 0 %> results)<% } %></a>
          </li>

          <!-- Summon -->
          <li<% if (data.search.query.api === 'summon') { %> class="active"<% } %>>
            <a href="<% if (data.search.query.q) { %>/find-a-resource?q=<%= data.search.query.q %>&api=summon<% } %>">Articles<% if (data.search.query.api === 'summon') { %> (<%= data.search.results.rowCount || 0 %> results)<% } %></a>
          </li>
        </ul>
      </div>

      <!-- Results -->
      <div class="js-search-results" data-api="<%= data.search.query.api || 'aquabrowser' %>" data-keyword="<%= data.search.query.q %>">
          <%- data.partials.tplResults %>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="campl-column3 campl-secondary-content">
      <% include ../partials/globals/promo-researchskills.ejs %>
    </div>

  </div>
</div>
