<!-- Page header -->
<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix">
    <div class="campl-column12">
      <div class="campl-content-container">
        <div class="campl-breadcrumb" id="breadcrumb">
          <ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
            <li class='first-child'>
              <a href="/" class="campl-home ir">Home</a>
            </li>
            <li>
              <a href="/"><%= title %></a>
            </li>
            <li>
              <p class="campl-current"><%= currentNode.title %></p>
            </li>
          </ul>
        </div>
        <h1 class="campl-page-title"><%= title %></h1>
      </div>
    </div>
  </div>
</div>

<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <%- partials.navigation %>
  </div>

  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">Find a resource</h2>
    </div>
  </div>
</div>
<!-- page-header ends -->

<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column8">

      <img class="campl-scale-with-grid" src="/public/images/find-a-resource-banner.jpg" alt="Find a resource">

      <form class="campl-content-container campl-inpage-search-container" method="get">
        <%- partials.search %>
      </form>

      <!-- External catalogues -->
      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h2>External catalogues</h2>
        </header>

        <div class="campl-top-padding lg-two-column-list">
          <div class="lg-column">
            <ul class='campl-unstyled-list campl-related-links'>
              <li><a href="" target="_blank">Web of Knowledge</a></li>
              <li><a href="" target="_blank">World Cat</a></li>
              <li><a href="" target="_blank">JSTOR</a></li>
            </ul>
          </div>

          <div class="lg-column">
            <ul class='campl-unstyled-list campl-related-links'>
              <li><a href="" target="_blank">Japanese Union Catalogues Library</a></li>
              <li><a href="" target="_blank">FIHRIST</a></li>
              <li><a href="" target="_blank">COPAC</a></li>
            </ul>
          </div>
        </div>
      </section>
      <!-- External catalogues ends -->
    </div>

    <div class="campl-column4 campl-secondary-content">
      <!-- Useful links -->
      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h2>Useful links</h2>
        </header>
        <ul class='campl-unstyled-list campl-related-links'>
          <li><a href="#" target="_blank">Accessing eResources</a></li>
          <li><a href="#" target="_blank">Report a Problem Accessing eResources</a></li>
          <li><a href="http://cudl.lib.cam.ac.uk/" target="_blank">CUDL</a></li>
          <li><a href="http://www.lib.cam.ac.uk/newton/" target="_blank">Newton</a></li>
          <li><a href="http://janus.lib.cam.ac.uk/" target="_blank">JANUS: University Archive</a></li>
        </ul>
      </section>
      <!-- Useful links ends -->

      <%- include ../partials/promo-researchskills.ejs %>
    </div>
    <!-- End of promo items -->
  </div>
</div>
