<!-- Page header -->
<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix">
    <div class="campl-column12">
      <div class="campl-content-container">
        <div class="campl-breadcrumb" id="breadcrumb">
          <ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
            <li class='first-child'>
              <a href="/" class="campl-home ir">Home</a>
            </li>
            <li>
              <a href="/"><%= title %></a>
            </li>
            <li>
              <p class="campl-current"><%= currentNode.title %></p>
            </li>
          </ul>
        </div>
        <h1 class="campl-page-title"><%= title %></h1>
      </div>
    </div>
  </div>
</div>

<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <%- partials.navigation %>
  </div>

  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">Find a resource</h2>
    </div>
  </div>
</div>
<!-- page-header ends -->

<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column8">
      <div class="campl-content-container campl-inpage-search-container">
        <label for="inpage-search" class="hidden">Search for a resource</label>
        <div class="campl-search-input lg-search-input lg-search-combo-select-input">
          <select class="lg-combo-select">
            <option value="all">All types</option>
          </select>
          <div class="lg-search-input-wrap">
            <input type="text" value="" />
          </div>
          <input type="image" class="campl-search-submit lg-search-submit" alt="Search" src="/public/images/interface/btn-search-inpage.png" />
        </div>
        <div class="campl-top-padding">
          <h3>Currently not searchable:</h3>
          <p>Books, images, video, journals, e-books, papers.</p>
        </div>
      </div>

      <!-- External catalogues -->
      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h2>External catalogues</h2>
        </header>

        <div class="campl-top-padding">
          <div class="campl-column6">
            <div class="campl-right-padding">
              <ul class='campl-unstyled-list campl-related-links'>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Consectetur adipisicing elit</a></li>
                <li><a href="#">Sed do eiusmod tempor incididunt extra long wrapping on to two line</a></li>
                <li><a href="#">Labore et dolore magna aliqua</a></li>
                <li><a href="#">Ut enim ad minim veniam</a></li>
                <li><a href="#">Quis nostrud exercitation ullamco</a></li>
              </ul>
            </div>
          </div>

          <div class="campl-column6">
            <div class="campl-left-padding campl-sub-column-left-border">
              <ul class='campl-unstyled-list campl-related-links'>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Consectetur adipisicing elit</a></li>
                <li><a href="#">Sed do eiusmod tempor incididunt extra long wrapping on to two line</a></li>
                <li><a href="#">Labore et dolore magna aliqua</a></li>
                <li><a href="#">Ut enim ad minim veniam</a></li>
                <li><a href="#">Quis nostrud exercitation ullamco</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- External catalogues ends -->
    </div>

    <div class="campl-column4 campl-secondary-content">
      <!-- Useful links -->
      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h2>Useful links</h2>
        </header>
        <ul class='campl-unstyled-list campl-related-links'>
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Consectetur adipisicing elit</a></li>
          <li><a href="#">Sed do eiusmod tempor incididunt extra long wrapping on to two line</a></li>
          <li><a href="#">Labore et dolore magna aliqua</a></li>
          <li><a href="#">Ut enim ad minim veniam</a></li>
          <li><a href="#">Quis nostrud exercitation ullamco</a></li>
        </ul>
      </section>
      <!-- Useful links ends -->

      <%- include ../partials/promo.ejs %>
    </div>
    <!-- End of promo items -->
  </div>
</div>
