<!-- Page header -->
<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix">
    <div class="campl-column12">
      <div class="campl-content-container">
        <div class="campl-breadcrumb" id="breadcrumb">
          <ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
            <li class='first-child'>
              <a href="/" class="campl-home ir">Home</a>
            </li>
            <li>
              <a href="/"><%= title %></a>
            </li>
            <li>
              <p class="campl-current"><%= currentNode.title %></p>
            </li>
          </ul>
        </div>
        <h1 class="campl-page-title"><%= title %></h1>
      </div>
    </div>
  </div>
</div>

<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <%- partials.navigation %>
  </div>

  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">Search results</h2>
    </div>
  </div>
</div>
<!-- page-header ends -->

<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">

    <div class="campl-column9">
      <form class="campl-content-container campl-inpage-search-container">
        <%- partials.search %>
      </form>

      <div class="campl-content-container" style="padding: 20px 0 0 0;">
        <ul class="campl-nav campl-nav-tabs campl-nav">
          <li<% if (!data.query.api || data.query.api === 'aquabrowser') { %> class="active"<% } %>>
            <a href="<% if (data.results.aquabrowser.pagination) { %>/find-a-resource?<%= data.results.aquabrowser.pagination.firstPage.url %><% } %>">Books & Journals (<%= data.results.aquabrowser.rowCount || 0 %> results)</a>
          </li>
          <li<% if (data.query.api === 'summon') { %> class="active"<% } %>>
            <a href="<% if (data.results.summon.pagination) { %>/find-a-resource?<%= data.results.summon.pagination.firstPage.url %><% } %>">Articles (<%= data.results.summon.rowCount || 0 %> results)</a>
          </li>
        </ul>
      </div>

      <!-- API tabs start -->
      <div class="campl-content-container tab-content" style="padding: 0;">

        <!-- Aquabrowser start -->
        <div id="aquabrowser" class="<% if (!data.query.api || data.query.api === 'aquabrowser') { %>active in <% } %>tab-pane">

          <!-- Facets start -->
          <% if (data.results.aquabrowser.rowCount > 0) { %>
            <div class="campl-column3">
              <div class="campl-tertiary-navigation">
                <div class="campl-tertiary-navigation-structure">

                  <!-- Loop start -->
                  <% if (data.results.aquabrowser.facets) { %>
                    <% for (facetType in data.results.aquabrowser.facets) { %>
                      <ul class="campl-unstyled-list campl-vertical-breadcrumb">
                        <li>
                          <a href="#"><%= data.results.aquabrowser.facets[facetType].label %>
                            <span class="campl-vertical-breadcrumb-indicator"></span>
                          </a>
                        </li>
                      </ul>
                      <ul class="campl-unstyled-list campl-vertical-breadcrumb-navigation">
                        <li class="campl-selected">
                          <ul class='campl-unstyled-list campl-vertical-breadcrumb-children'>
                            <% for (facet in data.results.aquabrowser.facets[facetType].facets) { %>
                              <li>
                                <a href="#">
                                  <%= data.results.aquabrowser.facets[facetType].facets[facet].label %>
                                  (<%= data.results.aquabrowser.facets[facetType].facets[facet].numItems %>)
                                </a>
                              </li>
                            <% } %>
                          </ul>
                        </li>
                      </ul>
                    <% } %>
                  <% } %>
                  <!-- Loop end -->

                </div>
              </div>
            </div>
          <% } %>
          <!-- Facets end -->

          <!-- Resources start -->
          <% if (data.results.summon.rowCount > 0) { %>
            <div class="campl-column9">
          <% } else{ %>
            <div class="campl-column12">
          <% } %>

          <% if (data.results.aquabrowser) { %>
            <% if (data.results.aquabrowser.rowCount > 0) { %>
              <% for (record in data.results.aquabrowser.items) { %>
                <article class="lg-search-result campl-listing-item campl-search-listing clearfix">
                  <div class="campl-column2">
                    <div class="lg-resource-img">
                      <% if (data.results.aquabrowser.items[record].thumbnail) { %>
                        <a href="/find-a-resource/aquabrowser/<%= data.results.aquabrowser.items[record].id[0] %>">
                          <img class="campl-scale-with-grid" src="<%= data.results.aquabrowser.items[record].thumbnail[0] %>" alt="<%= data.results.aquabrowser.items[record].title %>">
                        </a>
                      <% } %>
                    </div>
                  </div>
                  <div class="campl-column10">
                    <div class="campl-content-container campl-listing-txt">
                      <header>
                        <h3 class="campl-listing-title">
                          <a href="/find-a-resource/aquabrowser/<%= data.results.aquabrowser.items[record].id[0] %>"><%= data.results.aquabrowser.items[record].title %></a>
                        </h3>
                      </header>
                      <ul class="lg-resource-properties">
                        <% if (data.results.aquabrowser.items[record].author) { %>
                          <li>
                            <h4>Author(s)</h4>
                            <ul>
                              <% for (author in data.results.aquabrowser.items[record].author) { %>
                                <li><%= data.results.aquabrowser.items[record].author[author] %></li>
                              <% } %>
                            </ul>
                          </li>
                        <% } %>
                        <% if (data.results.aquabrowser.items[record].date) { %>
                          <li>
                            <h4>Published</h4>
                            <ul>
                              <% for (date in data.results.aquabrowser.items[record].date) { %>
                                <li><%= data.results.aquabrowser.items[record].date[date] %></li>
                              <% } %>
                            </ul>
                          </li>
                        <% } %>
                        <% if (data.results.aquabrowser.items[record].isbn) { %>
                          <li>
                            <h4>ISBN</h4>
                            <ul>
                              <% for (isbn in data.results.aquabrowser.items[record].isbn) { %>
                                <li><%= data.results.aquabrowser.items[record].isbn[isbn] %></li>
                              <% } %>
                            </ul>
                          </li>
                        <% } %>
                      </ul>
                    </div>
                  </div>
                </article>
              <% } %>

              <!-- Pagination start -->
              <% if (data.results.aquabrowser.pagination.pageCount) { %>
              <div class="campl-pagination campl-pagination-centered">
                <ul>
                  <% if (data.results.aquabrowser.pagination.previousPage.visible) { %>
                    <li class="campl-previous-li">
                      <a href="/find-a-resource?<%= data.results.aquabrowser.pagination.previousPage.url %>" class="ir campl-pagination-btn campl-previous"><span class="campl-arrow-span"></span>previous</a>
                    </li>
                  <% } %>
                  <% for (page in data.results.aquabrowser.pagination.pageRange) { %>

                    <% if (data.results.aquabrowser.pagination.pageRange[page].type === 'page') { %>
                      <li <% if (data.results.aquabrowser.pagination.pageRange[page].number === data.results.aquabrowser.pagination.pageNumber) { %>class="campl-active"<% } %>>
                        <a href="/find-a-resource?<%= data.results.aquabrowser.pagination.pageRange[page].url %>"><%= data.results.aquabrowser.pagination.pageRange[page].number %></a>
                      </li>
                    <% } else { %>
                      <li>
                        <span class="campl-elipsis">...</span>
                      </li>
                    <% } %>
                  <% } %>
                  <% if (data.results.aquabrowser.pagination.nextPage.visible) { %>
                    <li class="campl-next-li">
                      <a href="/find-a-resource?<%= data.results.aquabrowser.pagination.nextPage.url %>" class="ir campl-pagination-btn campl-next"><span class="campl-arrow-span"></span>next</a>
                    </li>
                  <% } %>
                </ul>
              </div>
              <% } %>
              <!-- Pagination end -->

            <% } else { %>
              <% if (data.results.aquabrowser.rowCount === 0) { %>
                <p>Your search <% if (data.query.q) { %><strong><%= data.query.q %></strong> <% } %>did not match any of our resources<p>
                <% if (data.results.aquabrowser.suggestions) { %>
                  <p>Did you mean
                    <% var i = 0; %>
                    <% for (suggestion in data.results.aquabrowser.suggestions.suggestedItems) { %><a href="/find-a-resource?<%= data.results.aquabrowser.suggestions.suggestedItems[suggestion].url %>"><%= data.results.aquabrowser.suggestions.suggestedItems[suggestion].label %></a><% if (i < data.results.aquabrowser.suggestions.suggestedItems.length - 1) { %>, <% } i++ %><% } %>?
                  </p>
                <% } %>
                <hr>
                <p><% if (data.results.aquabrowser.suggestions) { %>More <% } %>Suggestions:</p>
                <ul class="campl-unstyled-list">
                  <li>Check your spelling</li>
                  <li>Try different terms</li>
                  <li>Try more general terms</li>
                </ul>
              <% } %>
            <% } %>
          <% } else { %>
            <p>An error occurred while fetching books & journals</p>
          <% } %>
          </div>
          <!-- Resources end -->

        </div>
        <!-- Aquabrowser end -->

        <!-- Summon start -->
        <div id="summon" class="<% if (data.query.api === 'summon') { %>active in<% } %>tab-pane">

          <!-- Facets start -->
          <% if (data.results.summon.rowCount > 0) { %>
            <div class="campl-column3">
              <div class="campl-tertiary-navigation">
                <div class="campl-tertiary-navigation-structure">

                  <!-- Loop start -->
                  <% if (data.results.summon.facets) { %>
                    <% for (facetType in data.results.summon.facets) { %>
                      <ul class="campl-unstyled-list campl-vertical-breadcrumb">
                        <li>
                          <a href="#"><%= data.results.summon.facets[facetType].label %>
                            <span class="campl-vertical-breadcrumb-indicator"></span>
                          </a>
                        </li>
                      </ul>
                      <ul class="campl-unstyled-list campl-vertical-breadcrumb-navigation">
                        <li class="campl-selected">
                          <ul class='campl-unstyled-list campl-vertical-breadcrumb-children'>
                            <% for (facet in data.results.summon.facets[facetType].facets) { %>
                              <li>
                                <a href="#">
                                  <%= data.results.summon.facets[facetType].facets[facet].label %>
                                  (<%= data.results.summon.facets[facetType].facets[facet].numItems %>)
                                </a>
                              </li>
                            <% } %>
                          </ul>
                        </li>
                      </ul>
                    <% } %>
                  <% } %>
                  <!-- Loop end -->

                </div>
              </div>
            </div>
          <% } %>
          <!-- Facets end -->

          <!-- Resources start -->
          <% if (data.results.summon.rowCount > 0) { %>
            <div class="campl-column9">
          <% } else{ %>
            <div class="campl-column12">
          <% } %>

            <% if (data.results.summon) { %>
              <% if (data.results.summon.rowCount > 0) { %>
                <% for (record in data.results.summon.items) { %>
                  <article class="lg-search-result campl-listing-item campl-search-listing clearfix">
                    <div class="campl-column2">
                      <div class="lg-resource-img">
                        <% if (data.results.summon.items[record].thumbnail) { %>
                          <a href="/find-a-resource/summon/<%= data.results.summon.items[record].id[0] %>">
                            <img class="campl-scale-with-grid" src="<%= data.results.summon.items[record].thumbnail[0] %>" alt="<%= data.results.summon.items[record].title[0] %>">
                          </a>
                        <% } %>
                      </div>
                    </div>
                    <div class="campl-column10">
                      <div class="campl-content-container campl-listing-txt">
                        <header>
                          <h3 class="campl-listing-title">
                            <a href="/find-a-resource/summon/<%= data.results.summon.items[record].id[0] %>"><%= data.results.summon.items[record].title[0] %></a>
                          </h3>
                        </header>
                        <ul class="lg-resource-properties">
                          <% if (data.results.summon.items[record].author) { %>
                            <li>
                              <h4>Author(s)</h4>
                              <ul>
                                <% for (author in data.results.summon.items[record].author) { %>
                                  <li><%= data.results.summon.items[record].author[author] %></li>
                                <% } %>
                              </ul>
                            </li>
                          <% } %>
                          <% if (data.results.summon.items[record].date) { %>
                            <li>
                              <h4>Published</h4>
                              <ul>
                                <% for (date in data.results.summon.items[record].date) { %>
                                  <li><%= data.results.summon.items[record].date[date] %></li>
                                <% } %>
                              </ul>
                            </li>
                          <% } %>
                          <% if (data.results.summon.items[record].eisbn) { %>
                            <li>
                              <h4>EISBN</h4>
                              <ul>
                                <% for (eisbn in data.results.summon.items[record].eisbn) { %>
                                  <li><%= data.results.summon.items[record].eisbn[eisbn] %></li>
                                <% } %>
                              </ul>
                            </li>
                          <% } %>
                        </ul>
                      </div>
                    </div>
                  </article>
                <% } %>

                <!-- Pagination start -->
                <% if (data.results.summon.pagination.pageCount) { %>
                  <div class="campl-pagination campl-pagination-centered">
                    <ul>
                      <% if (data.results.summon.pagination.previousPage.visible) { %>
                        <li class="campl-previous-li">
                          <a href="/find-a-resource?<%= data.results.summon.pagination.previousPage.url %>" class="ir campl-pagination-btn campl-previous"><span class="campl-arrow-span"></span>previous</a>
                        </li>
                      <% } %>
                      <% for (page in data.results.summon.pagination.pageRange) { %>

                        <% if (data.results.summon.pagination.pageRange[page].type === 'page') { %>
                          <li <% if (data.results.summon.pagination.pageRange[page].number === data.results.summon.pagination.pageNumber) { %>class="campl-active"<% } %>>
                            <a href="/find-a-resource?<%= data.results.summon.pagination.pageRange[page].url %>"><%= data.results.summon.pagination.pageRange[page].number %></a>
                          </li>
                        <% } else { %>
                          <li>
                            <span class="campl-elipsis">...</span>
                          </li>
                        <% } %>
                      <% } %>
                      <% if (data.results.summon.pagination.nextPage.visible) { %>
                        <li class="campl-next-li">
                          <a href="/find-a-resource?<%= data.results.summon.pagination.nextPage.url %>" class="ir campl-pagination-btn campl-next"><span class="campl-arrow-span"></span>next</a>
                        </li>
                      <% } %>
                    </ul>
                  </div>
                <% } %>
                <!-- Pagination end -->

              <% } else { %>
                <% if (data.results.summon.rowCount === 0) { %>
                  <p>Your search <% if (data.query.q) { %><strong><%= data.query.q %></strong> <% } %>did not match any of our resources<p>
                  <% if (data.results.summon.suggestions) { %>
                    <p>Did you mean
                      <% var i = 0; %>
                      <% for (suggestion in data.results.summon.suggestions.suggestedItems) { %><a href="/find-a-resource?<%= data.results.summon.suggestions.suggestedItems[suggestion].url %>"><%= data.results.summon.suggestions.suggestedItems[suggestion].label %></a><% if (i < data.results.summon.suggestions.suggestedItems.length - 1) { %>, <% } i++ %><% } %>?
                    </p>
                  <% } %>
                  <hr>
                  <p><% if (data.results.summon.suggestions) { %>More <% } %>Suggestions:</p>
                  <ul class="campl-unstyled-list">
                    <li>Check your spelling</li>
                    <li>Try different terms</li>
                    <li>Try more general terms</li>
                  </ul>
                <% } %>
              <% } %>
            <% } else { %>
              <p>An error occurred while fetching articles</p>
            <% } %>
          </div>
          <!-- Resources end -->

        </div>
        <!-- Summon end -->

      </div>
      <!-- API tabs end -->

    </div>

    <div class="campl-column3 campl-secondary-content">
      <%- include ../partials/promo-researchskills.ejs %>
    </div>

  </div>
</div>
