<!-- Page header -->
<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix">
    <div class="campl-column12">
      <div class="campl-content-container">
        <div class="campl-breadcrumb" id="breadcrumb">
          <ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
            <li class='first-child'>
              <a href="/" class="campl-home ir">Home</a>
            </li>
            <li>
              <a href="/"><%= title %></a>
            </li>
            <li>
              <p class="campl-current"><%= currentNode.title %></p>
            </li>
          </ul>
        </div>
        <h1 class="campl-page-title"><%= title %></h1>
      </div>
    </div>
  </div>
</div>

<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <%- partials.navigation %>
  </div>

  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">Search results</h2>
    </div>
  </div>
</div>
<!-- page-header ends -->

<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">

    <div class="campl-column9">
      <form class="campl-content-container campl-inpage-search-container">
        <%- partials.search %>
      </form>

      <div class="campl-content-container">
        <ul class="nav nav-tabs campl-nav lg-nav-tabs">
          <li class="active">
            <a href="#aquabrowser" data-toggle="tab">Books & Journals (14231 results)</a>
          </li>
          <li>
            <a href="#summon" data-toggle="tab">Articles (457 results)</a>
          </li>
        </ul>
      </div>

      <div class="campl-content-container tab-content">

        <!-- Aquabrowser -->
        <div id="aquabrowser" class="active in tab-pane">

          <!-- Aquabrowser -->
          <% for (record in data.results.aquabrowser.items) { %>
            <article class="lg-search-result campl-listing-item campl-search-listing clearfix">
              <div class="campl-column3">
                <div class="lg-resource-img">
                  <a href="#"><img class="campl-scale-with-grid" src="/public/images/dummy-resource-detail.jpg" alt="The Origin of Species"></a>
                </div>
              </div>
              <div class="campl-column9">
                <div class="campl-content-container campl-listing-txt">
                  <header>
                    <h3 class="campl-listing-title"><a href="">The Origin of Species</a></h3>
                  </header>
                  <ul class="lg-resource-properties">
                    <li>
                      <h4>Author(s)</h4>
                      <ul>
                        <li>Darwin, Charles, 1809-1882</li>
                      </ul>
                    </li>
                    <li>
                      <h4>Other entries</h4>
                      <ul>
                        <li>Beer, Gillian</li>
                      </ul>
                    </li>
                    <li>
                      <h4>Published</h4>
                      <ul>
                        <li>Oxford: Oxford University Press, 1998</li>
                      </ul>
                    </li>
                    <li>
                      <h4>ISBN</h4>
                      <ul>
                        <li>019283438X</li>
                      </ul>
                    </li>
                  </ul>
                  <div class="clearfix">
                    <a href="#" class="campl-primary-cta pull-right">More information</a>
                  </div>
                </div>
              </div>
            </article>
          <% } %>
        </div>

        <!-- Summon -->
        <div id="summon" class="tab-pane">
          <% for (record in data.results.summon.items) { %>
          <article class="lg-search-result campl-listing-item campl-search-listing clearfix">
            <div class="campl-column3">
              <div class="lg-resource-img">
                <a href="#"><img class="campl-scale-with-grid" src="/public/images/dummy-resource-detail.jpg" alt="The Origin of Species"></a>
              </div>
            </div>
            <div class="campl-column9">
              <div class="campl-content-container campl-listing-txt">
                <header>
                  <h3 class="campl-listing-title"><a href="">The Origin of Species</a></h3>
                </header>
                <ul class="lg-resource-properties">
                  <li>
                    <h4>Author(s)</h4>
                    <ul>
                      <li>Darwin, Charles, 1809-1882</li>
                    </ul>
                  </li>
                  <li>
                    <h4>Other entries</h4>
                    <ul>
                      <li>Beer, Gillian</li>
                    </ul>
                  </li>
                  <li>
                    <h4>Published</h4>
                    <ul>
                      <li>Oxford: Oxford University Press, 1998</li>
                    </ul>
                  </li>
                  <li>
                    <h4>ISBN</h4>
                    <ul>
                      <li>019283438X</li>
                    </ul>
                  </li>
                </ul>
                <div class="clearfix">
                  <a href="#" class="campl-primary-cta pull-right">More information</a>
                </div>
              </div>
            </div>
          </article>
          <% } %>
        </div>
        <!-- Summon -->

      </div>

      <div class="campl-pagination campl-pagination-centered">
        <ul>
          <li class="campl-previous-li">
            <a href="#" class="ir campl-pagination-btn campl-previous"><span class="campl-arrow-span"></span>previous</a>
          </li>
          <li>
            <a href="#">1</a>
          </li>
          <li class="campl-active">
            <a href="#">2</a>
          </li>
          <li>
            <span class="campl-elipsis">...</span>
          </li>
          <li>
            <a href="#">21</a>
          </li>
          <li class="campl-next-li">
            <a href="#" class="ir campl-pagination-btn campl-next"><span class="campl-arrow-span"></span>next</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="campl-column3 campl-secondary-content">
      <%- include ../partials/promo.ejs %>
    </div>

  </div>
</div>
