<!-- Page header -->
<%- partials.header %>

<!-- Custom header -->
<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <%- partials.navigation %>
  </div>
  <div class="campl-wrap clearfix">
    <div class="campl-column12">
      <div class="campl-carousel campl-recessed-carousel clearfix campl-banner lg-banner-home">
        <div class="campl-carousel-container">
          <ul class="campl-unstyled-list campl-slides">
            <li class="campl-slide campl-column12">
              <div class="image-container">
                <img alt="banner" title="banner" src="/public/images/home-banner.jpg" class="campl-scale-with-grid" />
              </div>
              <div class="campl-slide-caption">
                <form class="campl-no-top-padding lg-search-form" action="/find-a-resource" method="get">
                  <h2><label for="input-find-a-resource">Find a resource</label></h2>
                  <div class="campl-search-input lg-search-input">
                    <div class="lg-search-input-wrap">
                      <input type="text" id="input-find-a-resource" name="q" placeholder="e.g. 'Charles Darwin'" />
                    </div>
                    <input type="image" class="campl-search-submit lg-search-submit" alt="Search" src="/public/images/interface/btn-search-inpage.png" />
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content -->
<div class="campl-row campl-content campl-recessed-content campl-main-content">
  <div class="campl-wrap clearfix">
    <section class="campl-column6">
      <header class="campl-no-bottom-padding">
        <div class="campl-heading-container">
          <h2>Get started</h2>
        </div>
      </header>
      <div class="clearfix">

        <article class="campl-content-container">
          <div class="campl-horizontal-teaser campl-teaser lg-teaser clearfix">
            <div class="campl-column6">
              <div class="campl-content-container campl-horizontal-teaser-img">
                <a href="/find-a-library" class="campl-teaser-img-link">
                  <img alt="Find a library" src="/public/images/home-find-a-library.jpg" class="campl-scale-with-grid" />
                </a>
              </div>
            </div>
            <div class="campl-column6">
              <div class="campl-content-container campl-horizontal-teaser-txt">
                <header>
                  <h3 class='campl-teaser-title'>
                    <a href="/find-a-library">Find a library</a>
                  </h3>
                </header>
                <p>Search for a library at Cambridge or find the Library nearest to you. Find out about what books and resources each library holds, their opening times and contact details.</p>
                <a href="/find-a-library" class="campl-primary-cta">Read more</a>
              </div>
            </div>
          </div>
        </article>

        <div class="campl-column12">
          <div class="campl-side-padding campl-content-container">
            <hr class="campl-teaser-divider" />
          </div>
        </div>

        <article class="campl-content-container">
          <div class="campl-horizontal-teaser campl-teaser lg-teaser clearfix">
            <div class="campl-column6">
              <div class="campl-content-container campl-horizontal-teaser-img">
                <a href="/find-a-resource" class="campl-teaser-img-link">
                  <img alt="Find a resource" src="/public/images/home-find-a-resource.jpg" class="campl-scale-with-grid" />
                </a>
              </div>
            </div>
            <div class="campl-column6">
              <div class="campl-content-container campl-horizontal-teaser-txt">
                <header>
                  <h3 class='campl-teaser-title'>
                    <a href="/find-a-resource">Find a resource</a>
                  </h3>
                </header>
                <p>Search across the library catalogues, online collections and our academic repository: DSpace.</p>
                <a href="/find-a-resource" class="campl-primary-cta">Read more</a>
              </div>
            </div>
          </div>
        </article>

        <div class="campl-column12">
          <div class="campl-side-padding campl-content-container">
            <hr class="campl-teaser-divider">
          </div>
        </div>

        <div class="campl-column6">
          <article class="campl-content-container">
            <div class="campl-vertical-teaser campl-teaser lg-teaser clearfix">
              <div class="campl-content-container campl-vertical-teaser-img">
                <a href="/using-our-libraries" class="campl-teaser-img-link">
                  <img alt="Using our libraries" src="/public/images/home-using-our-libraries.jpg" class="campl-scale-with-grid" />
                </a>
              </div>
              <div class="campl-content-container campl-vertical-teaser-txt">
                <header>
                  <h3 class='campl-teaser-title'>
                    <a href="/using-our-libraries">Using our libraries</a>
                  </h3>
                </header>
                <p>Find out how to get the best out of libraries at Cambridge, with 15 useful tips to get you started.</p>
                <a href="/using-our-libraries" class="campl-primary-cta">Read more</a>
              </div>
            </div>
          </article>
        </div>

        <div class="campl-column6 campl-sub-column-left-border">
          <article class="campl-content-container">
            <div class="campl-vertical-teaser campl-teaser lg-teaser clearfix">
              <div class="campl-content-container campl-vertical-teaser-img">
                <a href="/my-account" class="campl-teaser-img-link">
                  <img alt="My account" src="/public/images/home-my-account.jpg" class="campl-scale-with-grid" />
                </a>
              </div>
              <div class="campl-content-container campl-vertical-teaser-txt">
                <header>
                  <h3 class='campl-teaser-title'>
                    <a href="/my-account">My account</a>
                  </h3>
                </header>
                <p>Manage your library account. Sign-in to view what books you are currently borrowing,  which Libraries you have access to, and to request a book. You can also renew books online and add reminders to you calendar.</p>
                <a href="/my-account" class="campl-primary-cta">Read more</a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
    <!-- End of "get started" items -->

    <section class="campl-column3">
      <header class="campl-content-container">
        <div class="campl-heading-container">
          <h2>Latest from Twitter</h2>
        </div>
      </header>
        <div class="campl-content-container campl-no-top-padding">
        <% if (!data.error) { %>
          <% if (data.tweets) { %>
            <% for (tweet in data.tweets) { %>
              <article class="campl-listing-item campl-news-listing lg-tweet clearfix">
                <header>
                  <h3 class="campl-listing-title">
                    <a href="http://twitter.com/<%= data.tweets[tweet].screen_name %>" target="_blank" ><%= data.tweets[tweet].name %></a>
                  </h3>
                  <span class="campl-datestamp"><%- timeago(data.tweets[tweet].created_at) %></span>
                </header>
                <p><%- twitterText.autoLink(data.tweets[tweet].text, {'targetBlank': true}) %></p>
              </article>
            <% } %>
          <% } %>
        <% } else { %>
          <div class="campl-notifications-panel lg-alert campl-alert-panel campl-notifications-container clearfix">
            <p class="campl-notifications-icon campl-alert-icon">Warning:</p>
            <p><%= data.error %></p>
          </div>
        <% } %>
        <a href="https://twitter.com/libatcam/cam-uni-libraries" class="campl-secondary-cta campl-float-right" target="_blank">View all on Twitter</a>
      </div>
    </section>
    <!-- End of latest news -->

    <section class="campl-column3 campl-secondary-content">
      <%- include ../partials/globals/promo-timetable.ejs %>
      <%- include ../partials/globals/promo-researchskills.ejs %>
    </section>
    <!-- End of promo items -->
  </div>
</div>
