<!-- Page header -->
<%- partials.header %>

<!-- Custom header -->
<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <%- partials.navigation %>
  </div>
  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title"><%= data.library.name %></h2>
    </div>
  </div>
</div>

<!-- Content -->
<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column8">
      <% if (data.library.coords) { %>
        <div class="lg-maps-container">
          <section class="campl-column12 map-profile js-maps-container" data-lat="<%= data.library.coords.lat %>" data-lng="<%= data.library.coords.lng %>" data-zoom="17">
          </section>
        </div>

        <div class="lg-map-control campl-side-padding">
          <div class="pull-right">
            <button class="btn btn-sm btn-primary js-btn-street-view hidden pull-left">Street view</button>
            <button class="btn btn-sm btn-primary js-btn-directions hidden pull-left">Directions</button>
          </div>
        </div>
      <% } %>

      <div class="campl-column7">
        <!-- Opening times -->
        <section class="campl-content-container">
          <header class="campl-heading-container">
            <h3>Opening times</h3>
          </header>

          <div class="campl-top-padding">
            <p class="lg-wrap">
              <% if (data.library.opening_hours) { %>
                <%- data.library.opening_hours %>
              <% } else { %>
                No opening times information available.
              <% }%>
            </p>
          </div>
        </section>
        <!-- Opening times ends -->

        <!-- Our staff -->
        <section class="campl-no-top-padding">
          <header class="campl-heading-container">
            <h3>Our staff</h3>
          </header>
          <div class="campl-top-padding">
            <% if (data.library.staff) { %>
              <dl>
                <% for (member in data.library.staff) { %>
                  <dt class="lg-wrap">
                    <% if (data.library.staff[member].position) { %><%= data.library.staff[member].position %><% } else { %>Member<% } %>
                  </dt>
                  <dd class="lg-wrap">
                    <% if (data.library.staff[member].display_email === 'Y') { %><a href="mailto:<%= data.library.staff[member].email %>" title="<%= data.library.staff[member].name %>"><% } %>
                    <% if (data.library.staff[member].display_title === 'Y') { %><%= data.library.staff[member].title %>. <% } %>
                    <%= data.library.staff[member].name %>
                    <% if (data.library.staff[member].display_email === 'Y') { %></a><% } %>
                  </dd>
                <% } %>
              </dl>
            <% } else { %>
              <p>No staff information available.</p>
            <% } %>
          </div>
        </section>
        <!-- Our staff ends -->
      </div>

      <div class="campl-column5">
        <!-- Contact us -->
        <section class="campl-content-container">
          <header class="campl-heading-container">
            <h3>Contact us</h3>
          </header>

          <dl class="campl-top-padding">
            <% if (data.library.address) { %>
              <dt>Address</dt>
              <% for (item in data.library.address) { %>
                <dd class="lg-wrap"><%= data.library.address[item] %></dd>
              <% } %>
            <% } %>

            <% if (data.library.telephone) { %>
              <dt>Telephone</dt>
              <% for (item in data.library.telephone) { %>
                <dd class="lg-wrap"><%= data.library.telephone[item] %></dd>
              <% } %>
            <% } %>

            <% if (data.library.fax) { %>
              <dt>Fax</dt>
              <% for (item in data.library.fax) { %>
                <dd><%= data.library.fax[item] %></dd>
              <% } %>
            <% } %>

            <% if (data.library.email) { %>
              <dt>Email</dt>
              <% for (item in data.library.email) { %>
                <dd class="lg-wrap"><a href="mailto:<%= data.library.email[item] %>"><%= data.library.email[item] %></a></dd>
              <% } %>
            <% } %>

            <% if (data.library.web) { %>
              <dt>Website</dt>
              <% for (item in data.library.web) { %>
                <dd class="lg-wrap"><a target="_blank" href="<%= data.library.web[item] %>"><%= data.library.web[item] %></a></dd>
              <% } %>
            <% } %>

            <% if (data.library.twitter) { %>
              <dt>Twitter</dt>
              <% for (item in data.library.twitter) { %>
                <dd class="lg-wrap"><a target="_blank" href="<%= data.library.twitter[item] %>"><%= data.library.twitter[item] %></a></dd>
              <% } %>
            <% } %>

            <% if (data.library.facebook) { %>
              <dt>Facebook</dt>
              <% for (item in data.library.facebook) { %>
                <dd class="lg-wrap"><a target="_blank" href="<%= data.library.facebook[item] %>"><%= data.library.facebook[item] %></a></dd>
              <% } %>
            <% } %>

            <% if (data.library.blog) { %>
              <dt>Blog</dt>
              <% for (item in data.library.blog) { %>
                <dd class="lg-wrap"><a target="_blank" href="<%= data.library.blog[item] %>"><%= data.library.blog[item] %></a></dd>
              <% } %>
            <% } %>

            <% if (data.library.map) { %>
              <dt>Location maps</dt>
              <% for (item in data.library.map) { %>
                <dd class="lg-wrap"><a target="_blank" href="<%= data.library.map[item] %>">University Map</a></dd>
              <% } %>
            <% } %>
          </dl>
        </section>
        <!-- Contact us ends -->
      </div>
    </div>

    <!-- About this library -->
    <section class="campl-column4 campl-secondary-content">
      <div class="campl-content-container">
        <header class="campl-heading-container">
          <h3>About this library</h3>
        </header>

        <section class="campl-top-padding">
          <header>
            <h4>Stock</h4>
          </header>
          <p class="lg-wrap">
            <% if (data.library.stock) { %>
              <%= data.library.stock %>
            <% } else {%>
              No stock information available.
            <% } %>
          </p>
        </section>

        <section class="campl-top-padding">
          <header>
            <h4>Special collections</h4>
          </header>
          <p class="lg-wrap">
            <% if (data.library.special_collections) { %>
              <%= data.library.special_collections %>
            <% } else { %>
              No special collections information available.
            <% } %>
          </p>
        </section>

        <section class="campl-top-padding">
          <header>
            <h4>Admissions</h4>
          </header>
          <p class="lg-wrap">
            <% if (data.library.admits) { %>
              <%= data.library.admits %>
            <% } else { %>
              No admissions information available.
            <% } %>
          </p>
        </section>

        <section class="campl-top-padding">
          <header>
            <h4>Services</h4>
          </header>
          <p class="lg-wrap">
            <% if (data.library.services) { %>
              <%= data.library.services %>
            <% } else { %>
              No services information available.
            <% } %>
          </p>
        </section>
      </div>
    </section>
    <!-- About this library ends -->
  </div>
</div>
