<!-- Page header -->
<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix">
    <div class="campl-column12">
      <div class="campl-content-container">
        <div class="campl-breadcrumb" id="breadcrumb">
          <ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
            <li class='first-child'>
              <a href="/" class="campl-home ir">Home</a>
            </li>
            <li>
              <a href="/"><%= title %></a>
            </li>
            <li>
              <a href="/<%= currentNode.link %>"><%= currentNode.title %></a>
            </li>
            <li>
              <p class="campl-current"><%= data.name %></p>
            </li>
          </ul>
        </div>
        <h1 class="campl-page-title"><%= title %></h1>
      </div>
    </div>
  </div>
</div>

<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <%- partials.navigation %>
  </div>

  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title"><%= data.name %></h2>
    </div>
  </div>
</div>
<!-- page-header ends -->

<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column8">
      <% if (data.coords) { %>
        <div class="lg-maps-container">
          <section class="campl-column12 map-profile js-maps-container" data-lat="<%= data.coords.lat %>" data-lng="<%= data.coords.lng %>" data-zoom="17">
          </section>
        </div>

        <div class="lg-map-control campl-side-padding">
          <div class="pull-right">
            <button class="btn btn-sm btn-primary js-btn-street-view pull-left">Street view</button>
            <button class="btn btn-sm btn-primary js-btn-directions hidden pull-left">Directions</button>
          </div>
        </div>
      <% } %>

      <div class="campl-column7">
        <!-- Opening times -->
        <section class="campl-content-container">
          <header class="campl-heading-container">
            <h3>Opening times</h3>
          </header>

          <div class="campl-top-padding">
            <p>
              <% if (data.opening_hours) { %>
                <%= data.opening_hours %>
              <% } else { %>
                No opening times information available.
              <% }%>
            </p>
          </div>
        </section>
        <!-- Opening times ends -->

        <!-- Our staff -->
        <section class="campl-no-top-padding">
          <header class="campl-heading-container">
            <h3>Our staff</h3>
          </header>
          <div class="campl-top-padding">
            <% if (data.staff) { %>
              <dl>
                <% for (member in data.staff) { %>
                  <dt>
                    <% if (data.staff[member].position) { %><%= data.staff[member].position %><% } else { %>Member<% } %>
                  </dt>
                  <dd>
                    <% if (data.staff[member].display_email === 'Y') { %><a href="mailto:<%= data.staff[member].email %>" title="<%= data.staff[member].name %>"><% } %>
                    <% if (data.staff[member].display_title === 'Y') { %><%= data.staff[member].title %>. <% } %>
                    <%= data.staff[member].name %>
                    <% if (data.staff[member].display_email === 'Y') { %></a><% } %>
                  </dd>
                <% } %>
              </dl>
            <% } else { %>
              <p>No staff information available.</p>
            <% } %>
          </div>
        </section>
        <!-- Our staff ends -->
      </div>

      <div class="campl-column5">
        <!-- Contact us -->
        <section class="campl-content-container">
          <header class="campl-heading-container">
            <h3>Contact us</h3>
          </header>

          <dl class="campl-top-padding">
            <% if (data.address) { %>
              <dt>Address</dt>
              <% for (item in data.address) { %>
                <dd><%= data.address[item] %></dd>
              <% } %>
            <% } %>

            <% if (data.telephone) { %>
              <dt>Telephone</dt>
              <% for (item in data.telephone) { %>
                <dd><%= data.telephone[item] %></dd>
              <% } %>
            <% } %>

            <% if (data.fax) { %>
              <dt>Fax</dt>
              <% for (item in data.fax) { %>
                <dd><%= data.fax[item] %></dd>
              <% } %>
            <% } %>

            <% if (data.email) { %>
              <dt>Email</dt>
              <% for (item in data.email) { %>
                <dd><a href="mailto:<%= data.email[item] %>"><%= data.email[item] %></a></dd>
              <% } %>
            <% } %>

            <% if (data.web) { %>
              <dt>Website</dt>
              <% for (item in data.web) { %>
                <dd><a target="_blank" href="<%= data.web[item] %>"><%= data.web[item] %></a></dd>
              <% } %>
            <% } %>

            <% if (data.twitter) { %>
              <dt>Twitter</dt>
              <% for (item in data.twitter) { %>
                <dd><a target="_blank" href="<%= data.twitter[item] %>"><%= data.twitter[item] %></a></dd>
              <% } %>
            <% } %>

            <% if (data.facebook) { %>
              <dt>Facebook</dt>
              <% for (item in data.facebook) { %>
                <dd><a target="_blank" href="<%= data.facebook[item] %>"><%= data.facebook[item] %></a></dd>
              <% } %>
            <% } %>

            <% if (data.blog) { %>
              <dt>Blog</dt>
              <% for (item in data.blog) { %>
                <dd><a target="_blank" href="<%= data.blog[item] %>"><%= data.blog[item] %></a></dd>
              <% } %>
            <% } %>

            <% if (data.map) { %>
              <dt>Location maps</dt>
              <% for (item in data.map) { %>
                <dd><a target="_blank" href="<%= data.map[item] %>">University Map</a></dd>
              <% } %>
            <% } %>
          </dl>
        </section>
        <!-- Contact us ends -->
      </div>
    </div>

    <!-- About this library -->
    <section class="campl-column4 campl-secondary-content">
      <div class="campl-content-container">
        <header class="campl-heading-container">
          <h3>About this library</h3>
        </header>

        <section class="campl-top-padding">
          <header>
            <h4>Stock</h4>
          </header>
          <p>
            <% if (data.stock) { %>
              <%= data.stock %>
            <% } else {%>
              No stock information available.
            <% } %>
          </p>
        </section>

        <section class="campl-top-padding">
          <header>
            <h4>Special collections</h4>
          </header>
          <p>
            <% if (data.special_collections) { %>
              <%= data.special_collections %>
            <% } else { %>
              No special collections information available.
            <% } %>
          </p>
        </section>

        <section class="campl-top-padding">
          <header>
            <h4>Admissions</h4>
          </header>
          <p>
            <% if (data.admits) { %>
              <%= data.admits %>
            <% } else { %>
              No admissions information available.
            <% } %>
          </p>
        </section>

        <section class="campl-top-padding">
          <header>
            <h4>Services</h4>
          </header>
          <p>
            <% if (data.services) { %>
              <%= data.services %>
            <% } else { %>
              No services information available.
            <% } %>
          </p>
        </section>
      </div>
    </section>
    <!-- About this library ends -->
  </div>
</div>
