<!-- Page header -->
<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix">
    <div class="campl-column12">
      <div class="campl-content-container">
        <div class="campl-breadcrumb" id="breadcrumb">
          <ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
            <li class='first-child'>
              <a href="/" class="campl-home ir">Home</a>
            </li>
            <li>
              <a href="/"><%= title %></a>
            </li>
            <li>
              <a href="/<%= currentNode.link %>"><%= currentNode.title %></a>
            </li>
            <li>
              <p class="campl-current">Library profile</p>
            </li>
          </ul>
        </div>
        <h1 class="campl-page-title"><%= title %></h1>
      </div>
    </div>
  </div>
</div>

<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <%- partials.navigation %>
  </div>

  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">Queens' College</h2>
    </div>
  </div>
</div>
<!-- page-header ends -->

<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column8">
      <section class="campl-column12 map-profile js-maps-container" data-lat="52.202424" data-lng="0.115678" data-zoom="17">
      </section>

      <div class="campl-column7">
        <!-- Opening times -->
        <section class="campl-content-container">
          <header class="campl-heading-container">
            <h3>Opening times</h3>
          </header>

          <div class="campl-top-padding">
            <p>Full Term: Mon.-Fri. 09:00-20:00. Outside Full Term: Mon.-Fri. 09:00-18:00. (Closed Sat. and Sun.)</p>
          </div>
        </section>
        <!-- Opening times ends -->

        <!-- Our staff -->
        <section class="campl-no-top-padding">
          <header class="campl-heading-container">
            <h3>Our staff</h3>
          </header>

          <dl class="campl-padding-top">
            <dt>Librarian</dt>
            <dd>Dr Tim Eggington, Ph.D</dd>
            <dt>Assistant Librarian</dt>
            <dd>Mrs Miriam Leonard, B Sc. (Econ.)</dd>
            <dt>Library Assistant</dt>
            <dd>Ms Lise Field</dd>
            <dt>Fellow Librarian</dt>
            <dd>Dr I. Patterson, Ph.D.</dd>
            <dt>Archivist</dt>
            <dd>Dr R.A.W. Rex, Ph.D.</dd>
          </dl>
        </section>
        <!-- Our staff ends -->
      </div>

      <div class="campl-column5">
        <!-- Contact us -->
        <section class="campl-no-bottom-padding">
          <header class="campl-heading-container">
            <h3>Contact us</h3>
          </header>

          <dl>
            <dt>Address</dt>
            <dd>
              <span>Silver street</span><br>
              <span>Cambridge</span><br>
              <span>CB3 9ET</span>
            </dd>
            <dt>Email</dt>
            <dd><a href="mailto:library@queens.cam.ac.uk">library@queens.cam.ac.uk</a></dd>
            <dt>Website</dt>
            <dd><a target="_blank" href="http://www.queens.cam.ac.uk/student-information/library-archives">http://www.queens.cam.ac.uk/student-information/library-archives</a></dd>
            <dt>Twitter</dt>
            <dd><a target="_blank" href="https://twitter.com/Queens_Lib">@Queens_Lib</a></dd>
            <dt>Blog</dt>
            <dd><a target="_blank" href="http://queenslib.wordpress.com/">http://queenslib.wordpress.com/</a></dd>
            <dd><a target="_blank" href="http://queensnews.wordpress.com/">http://queensnews.wordpress.com/</a></dd>
            <dt>Online Catalogue</dt>
            <dd><a target="_blank" href="http://collpw-newton.lib.cam.ac.uk/">Newton: Colleges P-W</a></dd>
            <dt>Location maps</dt>
            <dd><a target="_blank" href="http://map.cam.ac.uk/Old%20Court%20%28Queens%27%20College%29">University Map</a></dd>
            <dd><a target="_blank" href="http://www.lib.cam.ac.uk/google_maps/cam_libs_map_key.htm?library_id=19">Google Maps</a></dd>
          </dl>
        </section>
        <!-- Contact us ends -->
      </div>
    </div>

    <!-- About this library -->
    <section class="campl-column4 campl-secondary-content">
      <div class="campl-content-container">
        <header class="campl-heading-container">
          <h3>About this library</h3>
        </header>

        <section class="campl-top-padding">
          <header>
            <h4>Stock</h4>
          </header>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempus orci in tellus pulvinar cursus. Phasellus vehicula facilisis sem eu mollis. Maecenas nec leo non mi dignissim consectetur. Fusce quis mi vitae lacus sollicitudin pretium. Suspendisse facilisis placerat dignissim.</p>
        </section>

        <section class="campl-top-padding">
          <header>
            <h4>Special collections</h4>
          </header>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempus orci in tellus pulvinar cursus. Phasellus vehicula facilisis sem eu mollis. Maecenas nec leo non mi dignissim consectetur. Fusce quis mi vitae lacus sollicitudin pretium. Suspendisse facilisis placerat dignissim.</p>
        </section>

        <section class="campl-top-padding">
          <header>
            <h4>Admissions</h4>
          </header>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempus orci in tellus pulvinar cursus. Phasellus vehicula facilisis sem eu mollis. Maecenas nec leo non mi dignissim consectetur. Fusce quis mi vitae lacus sollicitudin pretium. Suspendisse facilisis placerat dignissim.</p>
        </section>

        <section class="campl-top-padding">
          <header>
            <h4>Services</h4>
          </header>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempus orci in tellus pulvinar cursus. Phasellus vehicula facilisis sem eu mollis. Maecenas nec leo non mi dignissim consectetur. Fusce quis mi vitae lacus sollicitudin pretium. Suspendisse facilisis placerat dignissim.</p>
        </section>
      </div>
    </section>
    <!-- About this library ends -->
  </div>
</div>
