<!-- Page header -->
<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix">
    <div class="campl-column12">
      <div class="campl-content-container">
        <div class="campl-breadcrumb" id="breadcrumb">
          <ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
            <li class='first-child'>
              <a href="/" class="campl-home ir">Home</a>
            </li>
            <li>
              <a href="/"><%= title %></a>
            </li>
            <li>
              <a href="/<%= currentNode.link %>"><%= currentNode.title %></a>
            </li>
            <li>
              <p class="campl-current">Resource detail</p>
            </li>
          </ul>
        </div>
        <h1 class="campl-page-title"><%= title %></h1>
      </div>
    </div>
  </div>
</div>

<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <%- partials.navigation %>
  </div>

  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">The Origin of Species</h2>
    </div>
  </div>
</div>
<!-- page-header ends -->

<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column8">
      <div class="clearfix">
        <div class="campl-column3">
          <div class="lg-resource-img">
            <img class="campl-scale-with-grid" src="/public/images/dummy-resource-detail.jpg" alt="The Origin of Species">
          </div>
        </div>
        <div class="campl-column9">
          <ul class="campl-content-container lg-resource-properties">
            <li>
              <h4>Uniform title</h4>
              <ul>
                <li>On the origin of species</li>
              </ul>
            </li>
            <li>
              <h4>Author(s)</h4>
              <ul>
                <li>Darwin, Charles, 1809-1882</li>
              </ul>
            </li>
            <li>
              <h4>Other entries</h4>
              <ul>
                <li>Beer, Gillian</li>
              </ul>
            </li>
            <li>
              <h4>Published</h4>
              <ul>
                <li>Oxford: Oxford University Press, 1998</li>
              </ul>
            </li>
            <li>
              <h4>ISBN</h4>
              <ul>
                <li>019283438X</li>
              </ul>
            </li>
            <li>
              <h4>Series</h4>
              <ul>
                <li>Oxford world's classics (Oxford University Press)</li>
              </ul>
            </li>
            <li>
              <h4>Physical description</h4>
              <ul>
                <li>xxxiii, 439p; 20c</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- resource detailed information ends -->

      <div class="campl-column12">
        <section class="campl-content-container">
          <header class="campl-heading-container">
            <h3>Availability</h3>
          </header>
          <!-- In the future more columns will be added to this table -->
          <table class="campl-table-bordered campl-table-striped campl-table">
            <thead>
              <tr>
                <th>Library</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="http://www.lib.cam.ac.uk">University Library</a></td>
              </tr>
              <tr>
                <td><a href="http://www.lib.cam.ac.uk">Classics</a></td>
              </tr>
              <tr>
                <td><a href="http://www.lib.cam.ac.uk">Woolf Institute</a></td>
              </tr>
              <tr>
                <td><a href="http://www.lib.cam.ac.uk">Gonville & Caius College</a></td>
              </tr>
              <tr>
                <td><a href="http://www.lib.cam.ac.uk">Physiology Development and Neuroscience Library</a></td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
      <!-- availability information ends -->
    </div>
    <!-- left content block ends -->

    <div class="campl-column4 campl-secondary-content">
      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h3>Share & print</h3>
        </header>

        <ul class='campl-unstyled-list campl-related-links'>
          <li><a href="#">Tweet</a></li>
          <li><a href="#">Share on Facebook</a></li>
          <li><a href="#">Print record</a></li>
          <li><a href="#">Export to RefWorks/Endnote</a></li>
          <li><a href="#">Export as BibTeX</a></li>
        </ul>
      </section>
      <!-- Share & print ends -->

      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h3>More information</h3>
        </header>
        <ul class='campl-unstyled-list campl-related-links'>
          <li><a href="#">About this book</a></li>
          <li><a href="#">More information in LibraryThing</a></li>
        </ul>
      </section>
      <!-- More information ends -->
    </div>
  </div>
</div>
