<!-- Page header -->
<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix">
    <div class="campl-column12">
      <div class="campl-content-container">
        <div class="campl-breadcrumb" id="breadcrumb">
          <ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
            <li class='first-child'>
              <a href="/" class="campl-home ir">Home</a>
            </li>
            <li>
              <a href="/"><%= title %></a>
            </li>
            <li>
              <a href="/<%= currentNode.link %>"><%= currentNode.title %></a>
            </li>
            <li>
              <p class="campl-current">Resource detail</p>
            </li>
          </ul>
        </div>
        <h1 class="campl-page-title"><%= title %></h1>
      </div>
    </div>
  </div>
</div>

<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <%- partials.navigation %>
  </div>

  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title"><% if (data.title) { %><%= data.title %><% } else { %>Title not found<% } %></h2>
    </div>
  </div>
</div>
<!-- page-header ends -->

<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column8">
      <div class="lg-resource-detail">
        <div class="campl-column3 lg-resource-img-wrap">
          <div class="lg-resource-img-outer">
            <div class="lg-resource-img-inner">
              <% if (data.thumbnail) { %>
                <img class="campl-scale-with-grid" src="<%= data.thumbnail %>"<% if (data.title) { %> alt="<%= data.title %>"<% } %>>
              <% } else { %>
                <img class="campl-scale-with-grid" src="/public/images/resource-no-image.jpg" alt="No image available">
              <% } %>
            </div>
          </div>
        </div>
        <div class="campl-column9 lg-resource-properties-wrap pull-right">
          <ul class="campl-content-container lg-resource-properties">
            <% if (data.title) { %>
              <li>
                <h4>Uniform title</h4>
                <ul>
                  <% for (title in data.title) { %>
                    <li><%= data.title[title] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.author) { %>
              <li>
                <h4>Author(s)</h4>
                <ul>
                  <% for (author in data.author) { %>
                    <li><%= data.author[author] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.date) { %>
              <li>
                <h4>Published</h4>
                <ul>
                  <% for (date in data.date) { %>
                    <li><%= data.date[date] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.subject) { %>
              <li>
                <h4>Subject(s)</h4>
                <ul>
                  <% for (subject in data.subject) { %>
                    <li><%= data.subject[subject] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.isbn) { %>
              <li>
                <h4>ISBN</h4>
                <ul>
                  <% for (isbn in data.isbn) { %>
                    <li><%= data.isbn[isbn] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.eisbn) { %>
              <li>
                <h4>EISBN</h4>
                <ul>
                  <% for (eisbn in data.eisbn) { %>
                    <li><%= data.eisbn[eisbn] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.issn) { %>
              <li>
                <h4>ISSN</h4>
                <ul>
                  <% for (issn in data.issn) { %>
                    <li><%= data.issn[issn] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.ssid) { %>
              <li>
                <h4>SSID</h4>
                <ul>
                  <% for (ssid in data.ssid) { %>
                    <li><%= data.ssid[ssid] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.physicalDescription) { %>
              <li>
                <h4>Physical description</h4>
                <ul>
                  <% for (physicalDescription in data.physicalDescription) { %>
                    <li><%= data.physicalDescription[physicalDescription] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.series) { %>
              <li>
                <h4>Series</h4>
                <ul>
                  <% for (series in data.series) { %>
                    <li><%= data.series[series] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.note) { %>
              <li>
                <h4>Note</h4>
                <ul>
                  <% for (note in data.note) { %>
                    <li><%= data.note[note] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.src && data.src === 'dspace') { %>
              <li>
                <h4>Published by</h4>
                <ul>
                    <li>University of Cambridge Academic Repository</li>
                </ul>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
      <!-- resource detailed information ends  -->

      <% if (data.branches || data.link) { %>
        <div class="campl-column12">
          <% if (data.link) { %>
            <section class="campl-content-container">
              <header class="campl-heading-container">
                <h3>Content is available via the following links</h3>
              </header>

              <table class="campl-table-bordered campl-table-striped campl-table">
                <thead>
                  <tr>
                    <th>Resource</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (link in data.link) { %>
                    <tr>
                      <td>
                        <% if (data.link[link] !== null) { %><a href="<%= data.link[link] %>" target="_blank"><%= data.title %></a><% } else { %><%= data.title %><% } %>
                      </td>
                      <td><%= data.contentType %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </section>
          <% } %>

          <% if (data.branches && data.branches.length) { %>
            <section class="campl-content-container">
              <header class="campl-heading-container">
                <h3>Availability</h3>
              </header>

                <table class="campl-table-bordered campl-table-striped campl-table">
                  <thead>
                    <tr>
                      <th>Location</th>
                      <th>Classmark</th>
                      <th>Status</th>
                      <th>No. of Items</th>
                      <th>Holds and Requests</th>
                      <th>@</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (branch in data.branches) { %>
                      <tr>
                        <td><%= data.branches[branch].location %></td>
                        <td><%= data.branches[branch].sublocation %></td>
                        <td><%= data.branches[branch].status %></td>
                        <td><% if (data.branches[branch].itemCount > 0) { %><%= data.branches[branch].itemCount %><% } else { %>-<% } %></td>
                        <td>
                          <% if (data.branches[branch].placeHoldUrl) { %>
                            <a href="<%= data.branches[branch].placeHoldUrl %>" target="_blank">check request options</a>
                          <% } %>
                        </td>
                        <td>
                          <% if (data.branches[branch].externalDatasourceName && data.branches[branch].nativeId) { %>
                            <a href="http://www.lib.cam.ac.uk/ab_support/emailRecord.php?bib_id=<%= data.branches[branch].nativeId %>&bib_database=<%= data.branches[branch].externalDatasourceName %>" target="_blank">@</a>
                          <% } %>
                        </td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>

            </section>
          <% } %>
        </div>
      <% } %>
      <!-- availability information ends -->
    </div>
    <!-- left content block ends -->

    <div class="campl-column4 campl-secondary-content">
      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h3>Share & print</h3>
        </header>

        <ul class='campl-unstyled-list campl-related-links'>
          <li><a href="http://twitter.com/share?url=<%= host %>/find-a-resource/<%= api %>/<%= data.id %>">Tweet</a></li>
          <li><a href="http://www.facebook.com/sharer.php?s=100&p[url]=<%= host %>/find-a-resource/<%= api %>/<%= data.id %>">Share on Facebook</a></li>
          <li><a class="js-btn-print" href="#">Print record</a></li>
          <% if (data.extId) { %>
            <li><a href="http://search.lib.cam.ac.uk/export.ashx?type=export-ris&file=export.ris&itemid=<%= data.extId %>">Export to RefWorks/Endnote</a></li>
            <li><a href="http://www.lib.cam.ac.uk/ab_support/bibtex.php?itemid=<%= data.extId %>">Export as BibTeX</a></li>
          <% } %>
        </ul>
      </section>
      <!-- Share & print ends -->

      <!--
      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h3>More information</h3>
        </header>
        <ul class='campl-unstyled-list campl-related-links'>
          <li><a href="#">About this book</a></li>
          <li><a href="#">More information in LibraryThing</a></li>
        </ul>
      </section>
      -->
      <!-- More information ends -->
    </div>
  </div>
</div>
