<!-- Page header -->
<%- partials.header %>

<!-- Custom header -->
<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <%- partials.navigation %>
  </div>
  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">
        <% if (data.resource.titles) { %>
          <% for (title in data.resource.titles) { %>
            <%= data.resource.titles[title] %>
          <% } %>
        <% } else { %>Title not found<% } %>
      </h2>
    </div>
  </div>
</div>

<!-- Content -->
<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column8">
      <div class="lg-resource-detail">
        <div class="campl-column3 lg-resource-img-wrap">
          <div class="lg-resource-img-outer">
            <div class="lg-resource-img-inner">
              <% if (data.resource.thumbnails) { %>
                <img class="campl-scale-with-grid" src="<%= data.resource.thumbnails[0] %>"/>
              <% } else { %>
                <img class="campl-scale-with-grid" src="/public/images/resource-no-image.jpg" alt="No image available">
              <% } %>
            </div>
          </div>
        </div>
        <div class="campl-column9 lg-resource-properties-wrap pull-right">
          <ul class="campl-content-container lg-resource-properties">
            <% if (data.resource.titles) { %>
              <li>
                <h4>Title</h4>
                <ul>
                  <% for (title in data.resource.titles) { %>
                    <li><%= data.resource.titles[title] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.resource.authors) { %>
              <li>
                <h4>Author(s)</h4>
                <ul>
                  <% for (author in data.resource.authors) { %>
                    <li><a href="/find-a-resource?q=<%= data.resource.authors[author].fullname %>"><%= data.resource.authors[author].fullname %></a></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.resource.published.publicationTitle) { %>
              <li>
                <h4>Published by</h4>
                <ul>
                  <li><%= data.resource.published.publicationTitle %></li>
                </ul>
              </li>
            <% } %>
            <% if (data.resource.published.publicationDate) { %>
              <% if (data.resource.published.publicationDate.label) { %>
                <li>
                  <h4>Published</h4>
                  <ul>
                    <li><%= data.resource.published.publicationDate.label %></li>
                  </ul>
                </li>
              <% } %>
            <% } %>
            <% if (data.resource.isbn) { %>
              <li>
                <h4>ISBN</h4>
                <ul>
                  <% for (isbn in data.resource.isbn) { %>
                    <li><%= data.resource.isbn[isbn] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.resource.eisbn) { %>
              <li>
                <h4>EISBN</h4>
                <ul>
                  <% for (eisbn in data.resource.eisbn) { %>
                    <li><%= data.resource.eisbn[eisbn] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.resource.issn) { %>
              <li>
                <h4>ISSN</h4>
                <ul>
                  <% for (issn in data.resource.issn) { %>
                    <li><%= data.resource.issn[issn] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.resource.ssid) { %>
              <li>
                <h4>SSID</h4>
                <ul>
                  <% for (ssid in data.resource.ssid) { %>
                    <li><%= data.resource.ssid[ssid] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.resource.published.volume) { %>
              <li>
                <h4>Volume</h4>
                <ul>
                  <% for (volume in data.resource.published.volume) { %>
                    <li><%= data.resource.published.volume[volume] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.resource.published.issue) { %>
              <li>
                <h4>Issue</h4>
                <ul>
                  <li><%= data.resource.published.issue %></li>
                </ul>
              </li>
            <% } %>
            <% if (data.resource.published.publicationPage) { %>
              <% if (data.resource.published.publicationPage.label) { %>
                <li>
                  <h4>Page</h4>
                  <ul>
                    <li><%= data.resource.published.publicationPage.label %></li>
                  </ul>
                </li>
              <% } %>
            <% } %>
            <% if (data.resource.series) { %>
              <li>
                <h4>Series</h4>
                <ul>
                  <% for (series in data.resource.series) { %>
                    <li><a href="/find-a-resource?q=<%= data.resource.series[series] %>"><%= data.resource.series[series] %></a></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.resource.notes) { %>
              <li>
                <h4>Note</h4>
                <ul>
                  <% for (note in data.resource.notes) { %>
                    <li><%= data.resource.notes[note] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.resource.src && data.resource.src === 'dspace') { %>
              <li>
                <h4>Repository</h4>
                <ul>
                    <li>University of Cambridge Academic Repository</li>
                </ul>
              </li>
            <% } %>
            <% if (data.resource.description) { %>
              <li>
                <h4>Description</h4>
                <ul>
                  <li><%= data.resource.description %></li>
                </ul>
              </li>
            <% } %>
            <% if (data.resource.subjects) { %>
              <li>
                <h4>Subject(s)</h4>
                <ul>
                  <% for (subject in data.resource.subjects) { %>
                    <li><a href="/find-a-resource?q=<%= data.resource.subjects[subject] %>"><%= data.resource.subjects[subject] %></a></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <% if (data.resource.tags) { %>
              <li>
                <h4>Tag(s)</h4>
                <ul>
                  <li>
                    <% for (tag in data.resource.tags) { %>
                      <a href="/find-a-resource?q=<%= data.resource.tags[tag] %>"><%= data.resource.tags[tag] %></a>
                    <% } %>
                  </li>
                </ul>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
      <!-- resource detailed information ends  -->

      <% if ((data.resource.availability && data.resource.availability.totalBranches) || data.resource.links) { %>
        <div class="campl-column12">
          <% if (data.resource.links) { %>
            <section class="campl-content-container">
              <header class="campl-heading-container">
                <h3>Content is available via the following links</h3>
              </header>

              <table class="campl-table-bordered campl-table-striped campl-table">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Resource</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (link in data.resource.links) { %>
                    <tr>
                      <td><%= data.resource.contentType %></td>
                      <td>
                        <% if (data.resource.links[link] !== null) { %><a class="campl-primary-cta" href="<%= data.resource.links[link] %>" target="_blank">View content</a><% } else { %><%= data.resource.titles %><% } %>
                      </td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </section>
          <% } %>

          <% if (data.resource.availability && data.resource.availability.totalBranches) { %>
            <section class="campl-content-container">
              <header class="campl-heading-container">
                <h3>Availability</h3>
              </header>

              <table class="lg-resource-availability campl-table-bordered campl-table-striped campl-table campl-vertical-stacking-table">
                <thead>
                  <tr>
                    <th>Location</th>
                    <th>Classmark</th>
                    <th>Status</th>
                    <th>No. of Items</th>
                    <th>Holds and Requests</th>
                    <th>Email this</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (branch in data.resource.availability.branches) { %>
                    <tr id="<%= data.resource.availability.branches[branch].sublocation %>">
                      <td><%= data.resource.availability.branches[branch].location %></td>
                      <td><%= data.resource.availability.branches[branch].sublocation %></td>
                      <td><%= data.resource.availability.branches[branch].status %></td>
                      <td><% if (data.resource.availability.branches[branch].itemCount > 0) { %><%= data.resource.availability.branches[branch].itemCount %><% } else { %>-<% } %></td>
                      <td>
                        <% if (data.resource.availability.branches[branch].placeHoldUrl) { %>
                          <a href="<%= data.resource.availability.branches[branch].placeHoldUrl %>" target="_blank">check request options</a>
                        <% } %>
                      </td>
                      <td>
                        <% if (data.resource.availability.branches[branch].externalDatasourceName && data.resource.availability.branches[branch].nativeId) { %>
                          <a href="http://www.lib.cam.ac.uk/ab_support/emailRecord.php?bib_id=<%= data.resource.availability.branches[branch].nativeId %>&bib_database=<%= data.resource.availability.branches[branch].externalDatasourceName %>" target="_blank"><span class="lg-icon-mail"></span><span class="hidden">Email record</span></a>
                        <% } %>
                      </td>
                    </tr>
                  <% } %>
                </tbody>
              </table>

            </section>
          <% } %>
        </div>
      <% } %>
      <!-- availability information ends -->
    </div>
    <!-- left content block ends -->

    <div class="campl-column4 campl-secondary-content">
      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h3>Share & print</h3>
        </header>

        <ul class='campl-unstyled-list campl-related-links'>
          <li><a href="http://www.facebook.com/sharer.php?s=100&p[url]=<%= data.shareUrl %>&p[summary]=<%= data.shareText %>&p[title]=Cambridge%20Libraries" target="_blank"><span class="lg-icon-facebook"></span> Share on Facebook</a></li>
          <li><a href="http://twitter.com/share?url=<%= data.shareUrl %>&text=<%= data.shareText %>" target="_blank"><span class="lg-icon-twitter"></span> Tweet</a></li>
          <li><a class="js-btn-print" href="#">Print record</a></li>
          <% if (data.resource.extId) { %>
            <li><a href="http://search.lib.cam.ac.uk/export.ashx?type=export-ris&file=export.ris&itemid=<%= data.resource.extId %>" target="_blank">Export to RefWorks/Endnote</a></li>
            <li><a href="http://www.lib.cam.ac.uk/ab_support/bibtex.php?itemid=<%= data.resource.extId %>" target="_blank">Export as BibTeX</a></li>
          <% } %>
        </ul>
      </section>
      <!-- Share & print ends -->

      <!--
      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h3>More information</h3>
        </header>
        <ul class='campl-unstyled-list campl-related-links'>
          <li><a href="#">About this book</a></li>
          <li><a href="#">More information in LibraryThing</a></li>
        </ul>
      </section>
      -->
      <!-- More information ends -->
    </div>
  </div>
</div>
