<!-- Page header -->
<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix">
    <div class="campl-column12">
      <div class="campl-content-container">
        <div class="campl-breadcrumb" id="breadcrumb">
          <ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
            <li class='first-child'>
              <a href="/" class="campl-home ir">Home</a>
            </li>
            <li>
              <a href="/"><%= title %></a>
            </li>
            <li>
              <p class="campl-current"><%= currentNode.title %></p>
            </li>
          </ul>
        </div>
        <h1 class="campl-page-title"><%= title %></h1>
      </div>
    </div>
  </div>
</div>

<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <%- partials.navigation %>
  </div>

  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">Using our libraries</h2>
    </div>
  </div>
</div>
<!-- page-header ends -->

<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column8">
      <div class="campl-content-container">
        <p>The 100+ libraries of the University of Cambridge fit together and complement one another to provide a comprehensive library service for the University. The libraries can be grouped into three categories; the <a href="http://www.lib.cam.ac.uk/" target="_blank">University Library</a> and <a href="http://www.lib.cam.ac.uk/libraries_directory/libraries_directory.cgi?option=E" target="_blank">Affiliated libraries</a>, the <a href="http://www.lib.cam.ac.uk/libraries_directory/libraries_directory.cgi?option=D" target="_blank">Departmental and Faculty libraries</a> and the <a href="http://www.lib.cam.ac.uk/libraries_directory/libraries_directory.cgi?option=C" target="_blank">College libraries</a>.</p>

        <p>You will need to find out about the specifics of each library you use and their practices and rules. The questions on this page marked with * show where library practices differ and where enquiries are best directed to an individual library. All libraries information and contact details can be found in the <a href="http://www.lib.cam.ac.uk/libraries_directory/libraries_directory.cgi" target="_blank">Libraries Directory</a>.</p>

        <div id="collapse" class="campl-top-padding">
          <article class="panel campl-listing-item">
            <header>
              <h3 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapse1">
                  Which Libraries Can I Use?
                </a>
              </h3>
            </header>
            <div id="collapse1" class="collapse">
              <div>
                <p>Members of the University are usually granted access to their own <a href="http://www.lib.cam.ac.uk/libraries_directory/libraries_directory.cgi?option=C" target="_blank">College Library</a>, their <a href="http://www.lib.cam.ac.uk/libraries_directory/libraries_directory.cgi?option=D" target="_blank">departmental/faculty libraries</a> and the <a href="http://www.lib.cam.ac.uk/" target="_blank">University Library</a>. While your registration in the University Library is usually automatic if you are a student or member of staff, you may need to register separately when you first visit one of the other libraries in Cambridge.</p>
                <p>If you can't decide which library to visit first, watch this film <a href="http://www.lib.cam.ac.uk/libraries/perfectdesk.html" target="_blank">the Perfect Desk</a>.</p>
              </div>
            </div>
          </article>

          <article class="panel campl-listing-item">
            <header>
              <h3 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapse2">
                  How do I find libraries?
                </a>
              </h3>
            </header>
            <div id="collapse2" class="collapse">
              <div>
                <p>All the libraries are listed in the <a href="http://www.lib.cam.ac.uk/libraries/deg/locations.html" target="_blank">Libraries Google Map</a> or the <a href="http://www.lib.cam.ac.uk/libraries_directory/libraries_directory.cgi" target="_blank">Libraries Directory</a>. You can also find maps on the <a href="http://www.lib.cam.ac.uk/mob/#menu" target="_blank">LibrarySearch mobile interface</a>.</p>
              </div>
            </div>
          </article>

          <article class="panel campl-listing-item">
            <header>
              <h3 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapse3">
                  When are my libraries open?
                </a>
              </h3>
            </header>
            <div id="collapse3" class="collapse">
              <div>
                <p>When you login to <a href="http://www.lib.cam.ac.uk/libraries/mylibrary.html" target="_blank">'My Library Account'</a> on the Libraries Gateway the opening hours for the libraries in which you are registered will be displayed. All opening hours are also available in the <a href="http://www.lib.cam.ac.uk/libraries_directory/libraries_directory.cgi" target="_blank">Libraries Directory</a> and on the <a href="http://www.lib.cam.ac.uk/mob/#menu" target="_blank">LibrarySearch mobile interface</a>.</p>
              </div>
            </div>
          </article>

          <article class="panel campl-listing-item">
            <header>
              <h3 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapse4">
                  What if I have a disability?*
                </a>
              </h3>
            </header>
            <div id="collapse4" class="collapse">
              <div>
                <p>Take a look at the <a href="http://www.admin.cam.ac.uk/univ/disability/guide/libraries/" target="_blank">Library Access Guide</a>. If your library is not listed there, contact them directly.</p>
              </div>
            </div>
          </article>

          <article class="panel campl-listing-item">
            <header>
              <h3 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapse5">
                  How do I find library materials?
                </a>
              </h3>
            </header>
            <div id="collapse5" class="collapse">
              <div>
                <p>Use <a href="http://search.lib.cam.ac.uk/" target="_blank">LibrarySearch</a> and <a href="http://searchplus.lib.cam.ac.uk/" target="_blank">LibrarySearch+</a> to search all libraries within the University as well as the Cambridge <a href="http://www.dspace.cam.ac.uk/" target="_blank">DSpace repository</a>.</p>
              </div>
            </div>
          </article>

          <article class="panel campl-listing-item">
            <header>
              <h3 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapse6">
                  How many books can I borrow?*
                </a>
              </h3>
            </header>
            <div id="collapse6" class="collapse">
              <div>
                <p>It depends on the individual library, but you can check all of your loans from all of your libraries in one place; whenever you see the option to login to 'your account' on <a href="http://search.lib.cam.ac.uk/" target="_blank">LibrarySearch</a>, <a href="http://searchplus.lib.cam.ac.uk/" target="_blank">LibrarySearch+</a> or on the <a href="http://www.lib.cam.ac.uk/libraries/mylibrary.html" target="_blank">Libraries Gateway</a>. Some library websites also have this option. The 'your account' widget is also available for <a href="http://www.lib.cam.ac.uk/toolbox/camlibwidget.html" target="_blank">iGoogle and CamTools</a>.</p>
              </div>
            </div>
          </article>

          <article class="panel campl-listing-item">
            <header>
              <h3 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapse7">
                  How do I renew items I have on loan?*
                </a>
              </h3>
            </header>
            <div id="collapse7" class="collapse">
              <div>
                <p>Whether and how you are allowed to renew an item will depend on the individual library. If online renewals are allowed you can carry these out whenever you see the option to login to 'your account' on <a href="http://search.lib.cam.ac.uk/" target="_blank">LibrarySearch</a>, <a href="http://searchplus.lib.cam.ac.uk/" target="_blank">LibrarySearch+</a>, <a href="http://www.lib.cam.ac.uk/libraries/mylibrary.html" target="_blank">the Libraries Gateway</a>, <a href="http://www.lib.cam.ac.uk/libraries/mobile.html" target="_blank">the LibrarySearch mobile interface</a>, and on some individual library websites. You can also get the 'your account' widget for <a href="http://www.lib.cam.ac.uk/toolbox/camlibwidget.html" target="_blank">iGoogle and CamTools</a>.</p>
              </div>
            </div>
          </article>

          <article class="panel campl-listing-item">
            <header>
              <h3 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapse8">
                  What about fines?*
                </a>
              </h3>
            </header>
            <div id="collapse8" class="collapse">
              <div>
                <p>All Cambridge libraries set their own fines and fine rules. The best way to avoid them is to make sure you know the rules and get your books back on time! To help you though, you can automatically add the due dates to your online calendar using the Library Widget's <a href="http://www.lib.cam.ac.uk/toolbox/rss.html" target="_blank">loans feeds</a>.</p>
              </div>
            </div>
          </article>

          <article class="panel campl-listing-item">
            <header>
              <h3 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapse9">
                  How do I photocopy?*
                </a>
              </h3>
            </header>
            <div id="collapse9" class="collapse">
              <div>
                <p>All libraries will have different procedures for photocopying .The University Library's photocopying facilities are run by its Imaging Services department. Full information can be found <a href="http://www.lib.cam.ac.uk/deptserv/imagingservices/photocopying.html" target="_blank">here</a>.</p>
                <p>To make sure you stay within the Law when making copies, check out the University's <a href="http://www.admin.cam.ac.uk/cam-only/offices/legal/copyright/" target="_blank">Copyright compliance advice</a>.</p>
              </div>
            </div>
          </article>

          <article class="panel campl-listing-item">
            <header>
              <h3 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapse10">
                  How do I find e-resources?
                </a>
              </h3>
            </header>
            <div id="collapse10" class="collapse">
              <div>
                <p><a href="http://www.lib.cam.ac.uk/electronicresources/" target="_blank">Eresources@cambridge</a> provides a comprehensive list of all available citation and full text databases available to the University. It is possible to search and browse for resources by broad subject area, name and type of resource (ebooks, databases, newspapers, journals, theses).  Eresources are also listed in <a href="http://search.lib.cam.ac.uk/" target="_blank">LibrarySearch</a> and <a href="http://searchplus.lib.cam.ac.uk/" target="_blank">LibrarySearch+</a>.</p>
                <p>Ejournals can be found by searching the A-Z listing at <a href="http://camsfx.hosted.exlibrisgroup.com/cambridge/az" target="_blank">ejournals@cambridge</a>, or by searching <a href="http://search.lib.cam.ac.uk/" target="_blank">LibrarySearch</a> or <a href="http://searchplus.lib.cam.ac.uk/" target="_blank">LibrarySearch+</a>. It is possible to limit your search to ejournals.</p>
              </div>
            </div>
          </article>

          <article class="panel campl-listing-item">
            <header>
              <h3 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapse11">
                  When I'm there, how do I get connected?*
                </a>
              </h3>
            </header>
            <div id="collapse11" class="collapse">
              <div>
                <p>Access to the University's wireless networks (<a href="http://www.cam.ac.uk/cs/wireless/" target="_blank">Lapwing</a> and <a href="http://www.cam.ac.uk/cs/wireless/eduroam/" target="_blank">eduroam</a>) is available in many of the libraries in the University (for a list of wifi enabled sites go <a href="http://www.lapwing.cam.ac.uk/" target="_blank">here</a>).</p>
                <p>These networks are available to University members via <a href="http://www.cam.ac.uk/cs/raven/" target="_blank">Raven</a> logins. Temporary Lapwing tickets are available to visitors.</p>
                <p>For access to library electronic resources (including ebooks and ejournals), you should use the eduroam network. As these resources are protected using a library proxy, Lapwing blocks this access. For information on how to configure your laptop to use eduroam, please visit <a href="http://www.cam.ac.uk/cs/wireless/eduroam/localusers.html" target="_blank">the Computing Service website</a>.</p>
                <p>Eduroam will allow you to use the network and login in using your Raven account at other institutions that are also members of the eduroam initiative! (But you need do the configuration while you are here in Cambridge).</p>
                <p>Kindles will not connect to Lapwing or eduroam.</p>
                <p>iPhone/iPod Touch/iPad will not work with Lapwing but will with eduroam.</p>
              </div>
            </div>
          </article>

          <article class="panel campl-listing-item">
            <header>
              <h3 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapse12">
                  What if I don't have a mobile device?
                </a>
              </h3>
            </header>
            <div id="collapse12" class="collapse">
              <div>
                <p>If you see an area marked 'Desktop Services' or 'Managed Desktop Machines' (formally called PWF - Public Workstation Facilities) you will be able to access online library resources using your <a href="http://www.cam.ac.uk/cs/desktop-services/" target="_blank">DS account</a> (available through the University's <a href="http://www.cam.ac.uk/cs/" target="_blank">Computing Service</a>).</p>
                <p>At the University Library a <a href="http://www.lib.cam.ac.uk/DRAform.php" target="_blank">'Digital Resources Account'</a> is needed to use the public machines. A DS account will not work.</p>
              </div>
            </div>
          </article>

          <article class="panel campl-listing-item">
            <header>
              <h3 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapse13">
                  How do I find special collections?
                </a>
              </h3>
            </header>
            <div id="collapse13" class="collapse">
              <div>
                <p>Many libraries house and maintain special collections and some of the collections are listed in the <a href="http://www.lib.cam.ac.uk/libraries_directory/libraries_directory.cgi" target="_blank">Libraries Directory</a>. Where material, including University Library theses, is catalogued it is likely to be available in <a href="http://search.lib.cam.ac.uk/" target="_blank">LibrarySearch</a>. However, if you cannot find what you are looking for it is best to contact library staff for help.  Some of the University Library's special collections are digitised or undergoing digitisation. See <a href="http://cudl.lib.cam.ac.uk/" target="_blank">here</a> for details. For archive and photograph collections search <a href="http://janus.lib.cam.ac.uk/" target="_blank">Janus</a>.</p>
              </div>
            </div>
          </article>

          <article class="panel campl-listing-item">
            <header>
              <h3 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapse14">
                  How do I get information about good academic practice and plagiarism?
                </a>
              </h3>
            </header>
            <div id="collapse14" class="collapse">
              <div>
                <p>The University has up to date and accurate information <a href="http://www.admin.cam.ac.uk/univ/plagiarism/" target="_blank">here</a>. Any librarian would also be pleased to help you, just ask!</p>
              </div>
            </div>
          </article>

          <article class="panel campl-listing-item">
            <header>
              <h3 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapse15">
                  How do I get help?
                </a>
              </h3>
            </header>
            <div id="collapse15" class="collapse">
              <div>
                <p>If you are in a library the best way is to ask library staff. Faculty and Departmental Libraries offer specialist subject knowledge and advice on which databases to search, which e-resources to use etc., as well as on physical collections.</p>
                <p>If you need remote help please check your libraries' websites. Here are some central points of contact:</p>
                <ul>
                  <li><a href="http://search.lib.cam.ac.uk/" target="_blank">Help with LibrarySearch</a></li>
                  <li><a href="http://www.lib.cam.ac.uk/electronicresources/help/index.php" target="_blank">Help with e-resources</a></li>
                  <li><a href="mailto:ejournals@lib.cam.ac.uk" target="_blank">Help with e-journals</a></li>
                  <li><a href="mailto:ebooks@lib.cam.ac.uk" target="_blank">Help with ebooks</a></li>
                  <li><a href="http://www.lib.cam.ac.uk/contact/" target="_blank">University Library help</a></li>
                  <li><a href="http://www.lib.cam.ac.uk/repository/about/contact_us.html" target="_blank">Help with DSpace</a></li>
                </ul>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>

    <div class="campl-column4 campl-secondary-content">
      <%- include ../partials/promo-timetable.ejs %>
      <%- include ../partials/promo-researchskills.ejs %>
    </div>
  </div>
</div>
