<!-- Page header -->
<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix">
    <div class="campl-column12">
      <div class="campl-content-container">
        <div class="campl-breadcrumb" id="breadcrumb">
          <ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
            <li class='first-child'>
              <a href="/" class="campl-home ir">Home</a>
            </li>
            <li>
              <a href="/"><%= title %></a>
            </li>
            <li>
              <p class="campl-current"><%= currentNode.title %></p>
            </li>
          </ul>
        </div>
        <h1 class="campl-page-title"><%= title %></h1>
      </div>
    </div>
  </div>
</div>  

<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <%- partials.navigation %>
  </div>
  
  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <p class="campl-sub-title">Using our libraries</p>
    </div>
  </div>
</div>
<!-- page-header ends -->

<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column8">
      <div class="campl-content-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut sodales orci. Pellentesque libero urna, dignissim ut risus vel, dignissim iaculis nisi. Fusce velit quam, tempor non arcu nec, imperdiet semper sem. Sed sit amet mi quis erat placerat facilisis a sed neque. Sed elementum nunc tellus, eu hendrerit nisl vehicula quis. Donec vitae ante sodales, vestibulum nulla interdum, sollicitudin tortor. Duis porta suscipit commodo. Nam fermentum a lorem vitae auctor. Cras semper sapien sed ligula pellentesque, a pulvinar lectus blandit.</p>

        <div id="collapse" class="campl-content-container">
          <article class="panel campl-listing-item">
            <header>
              <h4 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapseOne">
                  Which libraries can I use?
                </a>
              </h4>
            </header>
            <div id="collapseOne" class="collapse">
              <div>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              </div>
            </div>
          </article>
          <article class="panel campl-listing-item">
            <header>
              <h4 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapseTwo">
                  How do I find libraries?
                </a>
              </h4>
            </header>
            <div id="collapseTwo" class="collapse">
              <div>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              </div>
            </div>
          </article>
          <article class="panel campl-listing-item">
            <header>
              <h4 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapseThree">
                  When are my libraries open?
                </a>
              </h4>
            </header>
            <div id="collapseThree" class="collapse">
              <div>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              </div>
            </div>
          </article>
          <article class="panel campl-listing-item">
            <header>
              <h4 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapseFour">
                  What if I have a disability
                </a>
              </h4>
            </header>
            <div id="collapseFour" class="collapse">
              <div>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              </div>
            </div>
          </article>
          <article class="panel campl-listing-item">
            <header>
              <h4 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapseFive">
                  How do I find library materials?
                </a>
              </h4>
            </header>
            <div id="collapseFive" class="collapse">
              <div>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              </div>
            </div>
          </article>
          <article class="panel campl-listing-item">
            <header>
              <h4 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapseSix">
                  How many books can I borrow?
                </a>
              </h4>
            </header>
            <div id="collapseSix" class="collapse">
              <div>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              </div>
            </div>
          </article>
          <article class="panel campl-listing-item">
            <header>
              <h4 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapseSeven">
                  How do I renew items I have on loan?
                </a>
              </h4>
            </header>
            <div id="collapseSeven" class="collapse">
              <div>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              </div>
            </div>
          </article>
          <article class="panel campl-listing-item">
            <header>
              <h4 class="campl-listing-title">
                <a data-toggle="collapse" data-parent="#collapse" href="#collapseEight">
                  What about fines?
                </a>
              </h4>
            </header>
            <div id="collapseEight" class="collapse">
              <div>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>

    <div class="campl-column4 campl-secondary-content">
      <%- include ../partials/promo.ejs %>
    </div>
  </div>
</div>
