<div class="campl-row campl-page-header">
  <div class="campl-wrap clearfix">
    <div class="campl-column12">
      <div class="campl-content-container">
        <div class="campl-breadcrumb lg-breadcrumb" id="breadcrumb">
          <ul class="campl-unstyled-list campl-horizontal-navigation clearfix">
            <li class='first-child'>
              <a href="/" class="campl-home ir">Home</a>
            </li>
            <li>
              <a href="/"><%= settings.title %></a>
            </li>
            <li>
              <a<% if (data && data.pageTitle) { %> href="/<%= settings.currentNode.link %>"<% } %>><%= settings.currentNode.title %></a>
            </li>
            <% if (data && data.pageTitle) { %>
            <li>
              <p class="campl-current"><%= data.pageTitle %></p>
            </li>
            <% } %>
          </ul>
        </div>
        <h1 class="campl-page-title"><%= settings.title %></h1>
      </div>
    </div>
  </div>
</div>
