<!-- Facets overview start -->
<% if (search.results[api].facetsOverview && search.results[api].facetsOverview.length) { %>
  <div class="campl-column12">
    <div class="campl-content-container">
      <p class="lg-active-facets">
        Refining by:
        <% for (facetIndex in search.results[api].facetsOverview) { %>
          <span class="lg-active-facet">
            <%= search.results[api].facetsOverview[facetIndex].label %>
            <a href="?<%= search.results[api].facetsOverview[facetIndex].url %>" title="Remove filter">(x)</a>
          </span>
        <% }%>
      </p>
    </div>
  </div>
<% } %>

<!-- Facets start -->
<% if (search.results[api].rowCount > 0) { %>
  <div class="campl-column4">
    <div class="campl-top-padding">
      <div class="campl-tertiary-navigation lg-results-facets">
        <div class="campl-tertiary-navigation-structure">

          <!-- Loop start -->
          <% if (search.results[api].facets) { %>
            <% for (facetType in search.results[api].facets) { %>
              <% var facet = search.results[api].facets[facetType]; %>
              <ul class="campl-unstyled-list campl-vertical-breadcrumb">
                <li>
                  <a href="#facet-<%= api %>-<%= facet.label %>" data-toggle="collapse"><%= facet.label %>
                    <span class="campl-vertical-breadcrumb-indicator"></span>
                  </a>
                </li>
              </ul>
              <div id="facet-<%= api %>-<%= facet.label %>" class="in js-facet">
                <ul class="campl-unstyled-list campl-vertical-breadcrumb-navigation">
                  <li class="campl-selected">
                    <ul class='campl-unstyled-list campl-vertical-breadcrumb-children'>
                      <% for (facetValue in facet.facets) { %>
                        <li>
                          <a href="/find-a-resource?<%= facet.facets[facetValue].url %>">
                            <%= facet.facets[facetValue].label %>
                            (<%= facet.facets[facetValue].numItems %>)
                          </a>
                        </li>
                      <% } %>
                    </ul>
                  </li>
                </ul>
              </div>
            <% } %>
          <% } %>
          <!-- Loop end -->

        </div>
      </div>
    </div>
  </div>
<% } %>
<!-- Facets end -->

<!-- Resources start -->
<div<% if (search.results[api] && search.results[api].rowCount > 0) { %> class="campl-column8"<% } %>>
  <% if (search.results[api]) { %>
    <% if (search.results[api].rowCount > 0) { %>
      <% for (record in search.results[api].items) { %>
        <article class="lg-search-result campl-listing-item campl-search-listing clearfix">
          <div class="campl-column2">
            <div class="lg-resource-img">
              <% if (search.results[api].items[record].thumbnail) { %>
                <a href="/find-a-resource/<%= api %>/<%= search.results[api].items[record].id %>">
                  <img class="campl-scale-with-grid" src="<%= search.results[api].items[record].thumbnail[0] %>" alt="<%= search.results[api].items[record].titles %>">
                </a>
              <% } %>
            </div>
          </div>
          <div class="campl-column10">
            <div class="campl-content-container campl-listing-txt">
              <header>
                <h3 class="campl-listing-title">
                  <a href="/find-a-resource/<%= api %>/<%= search.results[api].items[record].id %>"><%= search.results[api].items[record].titles %></a>
                </h3>
              </header>
              <ul class="lg-resource-properties">
                <% if (search.results[api].items[record].authors) { %>
                  <li>
                    <h4>Author(s)</h4>
                    <ul>
                      <% for (author in search.results[api].items[record].authors) { %>
                        <li><a href="#"><%= search.results[api].items[record].authors[author].fullname %></a></li>
                      <% } %>
                    </ul>
                  </li>
                <% } %>
                <% if (search.results[api].items[record].published) { %>
                  <% if (search.results[api].items[record].published.publicationTitle) { %>
                    <li>
                      <h4>Published by</h4>
                      <ul>
                        <li>
                            <%= search.results[api].items[record].published.publicationTitle %>
                        </li>
                      </ul>
                    </li>
                  <% } %>
                  <% if (search.results[api].items[record].published.publicationDate) { %>
                    <% if (search.results[api].items[record].published.publicationDate.label) { %>
                      <li>
                        <h4>Published</h4>
                        <ul>
                          <li>
                              <%= search.results[api].items[record].published.publicationDate.label %>
                          </li>
                        </ul>
                      </li>
                    <% } %>
                  <% } %>
                  <% if (search.results[api].items[record].published.volume && search.results[api].items[record].published.volume.length) { %>
                    <li>
                      <h4>Volume</h4>
                      <ul>
                        <% for (volume in search.results[api].items[record].published.volume) { %>
                        <li>
                            <%= search.results[api].items[record].published.volume[volume] %>
                        </li>
                        <% } %>
                      </ul>
                    </li>
                  <% } %>
                  <% if (search.results[api].items[record].published.issue && search.results[api].items[record].published.issue.length) { %>
                    <li>
                      <h4>Issue</h4>
                      <ul>
                        <li>
                            <%= search.results[api].items[record].published.issue %>
                        </li>
                      </ul>
                    </li>
                  <% } %>
                  <% if (search.results[api].items[record].published.publicationPage) { %>
                    <% if (search.results[api].items[record].published.publicationPage.label) { %>
                      <li>
                        <h4>Page</h4>
                        <ul>
                          <li>
                            <%= search.results[api].items[record].published.publicationPage.label %>
                          </li>
                        </ul>
                      </li>
                    <% } %>
                  <% } %>
                <% } %>
                <% if (search.results[api].items[record].isbn) { %>
                  <li>
                    <h4>ISBN</h4>
                    <ul>
                      <% for (isbn in search.results[api].items[record].isbn) { %>
                        <li><%= search.results[api].items[record].isbn[isbn] %></li>
                      <% } %>
                    </ul>
                  </li>
                <% } %>
                <% if (search.results[api].items[record].src === 'dspace') { %>
                  <li>
                    <h4>Published by:</h4>
                    <ul>
                      <li>University of Cambridge Academic Repository</li>
                    </ul>
                  </li>
                <% } %>
              </ul>
            </div>
          </div>
        </article>
      <% } %>

      <!-- Pagination start -->
      <% if (search.results[api].pagination.pageCount) { %>
        <div class="campl-pagination campl-pagination-centered">
          <ul>
            <% if (search.results[api].pagination.previousPage.visible) { %>
              <li class="campl-previous-li">
                <a href="/find-a-resource?<%= search.results[api].pagination.previousPage.url %>" class="ir campl-pagination-btn campl-previous"><span class="campl-arrow-span"></span>previous</a>
              </li>
            <% } %>
            <% for (page in search.results[api].pagination.pageRange) { %>

              <% if (search.results[api].pagination.pageRange[page].type === 'page') { %>
                <li <% if (search.results[api].pagination.pageRange[page].number === search.results[api].pagination.pageNumber) { %>class="campl-active"<% } %>>
                  <a href="/find-a-resource?<%= search.results[api].pagination.pageRange[page].url %>"><%= search.results[api].pagination.pageRange[page].number %></a>
                </li>
              <% } else { %>
                <li>
                  <span class="campl-elipsis">...</span>
                </li>
              <% } %>
            <% } %>
            <% if (search.results[api].pagination.nextPage.visible) { %>
              <li class="campl-next-li">
                <a href="/find-a-resource?<%= search.results[api].pagination.nextPage.url %>" class="ir campl-pagination-btn campl-next"><span class="campl-arrow-span"></span>next</a>
              </li>
            <% } %>
          </ul>
        </div>
      <% } %>
      <!-- Pagination end -->

    <% } else if (search.results[api].rowCount === 0) { %>
      <div class="campl-content-container">
        <p>Your search <% if (search.query.q) { %><strong><%= search.query.q %></strong> <% } %>did not match any of our resources.</p>
        <% if (search.results[api].suggestions) { %>
          <p>Did you mean
            <% var i = 0; %>
            <% for (suggestion in search.results[api].suggestions.suggestedItems) { %><a href="/find-a-resource?<%= search.results[api].suggestions.suggestedItems[suggestion].url %>"><%= search.results[api].suggestions.suggestedItems[suggestion].label %></a><% if (i < search.results[api].suggestions.suggestedItems.length - 1) { %>, <% } i++ %><% } %>?
          </p>
        <% } %>
        <hr>
        <p><% if (search.results[api].suggestions) { %>More <% } %>Suggestions:</p>
        <ul class="campl-unstyled-list">
          <li>Check your spelling</li>
          <li>Try different terms</li>
          <li>Try more general terms</li>
        </ul>
      </div>
    <% } %>
  <% } else { %>
    <p>An error occurred while fetching books & journals</p>
  <% } %>
</div>
<!-- Resources end -->
