
<!-- Record -->
<article class="lg-search-result campl-listing-item clearfix">

  <!-- Thumbnail -->
  <div class="campl-column2">
    <div class="lg-resource-img">
      <% if (item.thumbnails) { %>
        <a href="/find-a-resource/aquabrowser/<%= item.id %>">
          <img class="campl-scale-with-grid" src="<%= item.thumbnails[0] %>" alt="<%= item.titles %>">
        </a>
      <% } %>
    </div>
  </div>

  <!-- Record metadata -->
  <div class="campl-column10">
    <div class="campl-content-container campl-listing-txt">

      <!-- Title -->
      <header>
        <h3 class="campl-listing-title">
          <a href="/find-a-resource/aquabrowser/<%= item.id %>"><%= item.titles %></a>
        </h3>
      </header>

      <!-- Metadata -->
      <ul class="lg-resource-properties">

        <!-- Authors -->
        <% if (item.authors) { %>
          <li>
            <h4>Author(s)</h4>
            <ul>
              <% for (author in item.authors) { %>
                <li><a href="/find-a-resource?q=<%= item.authors[author].fullname %>"><%= item.authors[author].fullname %></a></li>
              <% } %>
            </ul>
          </li>
        <% } %>

        <!-- Published -->
        <% if (item.published) { %>
          <% if (item.published.publicationTitle) { %>
            <li>
              <h4>Published by</h4>
              <ul>
                <li><%= item.published.publicationTitle %></li>
              </ul>
            </li>
          <% } %>
          <% if (item.published.publicationDate) { %>
            <% if (item.published.publicationDate.label) { %>
              <li>
                <h4>Published</h4>
                <ul>
                  <li><%= item.published.publicationDate.label %></li>
                </ul>
              </li>
            <% } %>
          <% } %>
          <% if (item.published.volume && item.published.volume.length) { %>
            <li>
              <h4>Volume</h4>
              <ul>
                <% for (volume in item.published.volume) { %>
                <li><%= item.published.volume[volume] %></li>
                <% } %>
              </ul>
            </li>
          <% } %>
          <% if (item.published.issue && item.published.issue.length) { %>
            <li>
              <h4>Issue</h4>
              <ul>
                <li><%= item.published.issue %></li>
              </ul>
            </li>
          <% } %>
          <% if (item.published.publicationPage) { %>
            <% if (item.published.publicationPage.label) { %>
              <li>
                <h4>Page</h4>
                <ul>
                  <li><%= item.published.publicationPage.label %></li>
                </ul>
              </li>
            <% } %>
          <% } %>
        <% } %>

        <!-- Repository -->
        <% if (item.src === 'dspace') { %>
          <li>
            <h4>Repository</h4>
            <ul>
              <li>University of Cambridge Academic Repository</li>
            </ul>
          </li>
        <% } %>

        <!-- Availability -->
        <% if (item.availability && item.availability.totalBranches) { %>
          <li>
            <h4>Location(s)</h4>
            <ul>
              <% for (branch in item.availability.branches) { %>
                <li>
                  <a href="/find-a-resource/aquabrowser/<%= item.id %>#<%= item.availability.branches[branch].classmark %>">
                    <%= item.availability.branches[branch].name %></a>
                </li>
              <% } %>
              <% if (item.availability.totalBranches > 3) { %>
                <li>
                  <a href="/find-a-resource/aquabrowser/<%= item.id %>">More...</a>
                </li>
              <% } %>
            </ul>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</article>
