<%
  /**
   * Function that returns the item's thumbnail
   *
   * @param  {Object}   item    Object containing resource data
   * @return {String}           The item's thumbnail url
   * @api private
   */
  var getItemThumbnail = function(item) {
    var thumbnail = null;
    if (item['thumbnail_s']) {
      thumbnail = item['thumbnail_s'];
    } else if (item['thumbnail_m']) {
      thumbnail = item['thumbnail_m'];
    } else if (item['thumbnail_l']) {
      thumbnail = item['thumbnail_l'];
    }
    return thumbnail;
  };

  /**
   * Function that replaces the '<h>' tags in a string
   *
   * @param  {String}   snippet     The string where the tags should be replaced in
   * @return {String}               The string where the tags have been replaced
   * @api private
   */
  var replaceTags = function(snippet) {
    snippet = snippet.replace(/<h>/g, '<strong>').replace(/<\/h>/g, '</strong>')
    return snippet;
  };
%>

<!-- Record -->
<article class="lg-search-result campl-listing-item clearfix">

  <!-- Thumbnail -->
  <div class="campl-column2">
    <div class="lg-resource-img">
      <%
        var thumbnail = getItemThumbnail(item);
        if (thumbnail) {
      %>
        <a href="/find-a-resource/summon/<%= item.ID %>">
          <img class="campl-scale-with-grid" src="<%= thumbnail %>" alt="<%= item.Title %>">
        </a>
      <%
        }
      %>
    </div>
  </div>

  <!-- Record metadata -->
  <div class="campl-column10">
    <div class="campl-content-container campl-listing-txt">

      <!-- Title -->
      <% if (item.Title) { %>
      <header>
        <h3 class="campl-listing-title">
          <%
            var title = replaceTags(item.Title[0]);
          %>
          <a href="/find-a-resource/summon/<%= item.ID %>">
          <%- title %></a>
        </h3>
      </header>
      <% } %>

      <!-- Metadata -->
      <ul class="lg-resource-properties">

        <!-- Authors -->
        <% if (item.Author) { %>
          <li>
            <h4>Author(s)</h4>
            <ul>
              <% for (author in item.Author) { %>
                <li><%= item.Author[author] %></li>
              <% } %>
            </ul>
          </li>
        <% } %>

        <!-- Publisher -->
        <% if (item.PublicationTitle) { %>
          <li>
            <h4>Published by</h4>
            <ul>
              <li><%= item.PublicationTitle[0] %></li>
            </ul>
          </li>
        <% } %>

        <!-- ISSN -->
        <% if (item.ISSN) { %>
          <li>
            <h4>ISSN</h4>
            <ul>
              <li><%= item.ISSN[0] %></li>
            </ul>
          </li>
        <% } %>

        <!-- Published -->
        <% if (item.PublicationDate_xml) { %>
          <li>
            <h4>Published</h4>
            <ul>
              <li>

                <!-- Month -->
                <% if (item.PublicationDate_xml[0].month) { %>
                  <%= item.PublicationDate_xml[0].month %>
                <% } %>

                <!-- Only show the slash when both month and year are present -->
                <% if (item.PublicationDate_xml[0].month && item.PublicationDate_xml[0].year) { %>/<% } %>

                <!-- Year -->
                <% if (item.PublicationDate_xml[0].year) { %>
                  <%= item.PublicationDate_xml[0].year %>
                <% } %>

              </li>
            </ul>
          </li>
        <% } %>

        <!-- Volume -->
        <% if (item.Volume) { %>
          <li>
            <h4>Volume</h4>
            <ul>
              <li><%= item.Volume[0] %></li>
            </ul>
          </li>
        <% } %>

        <!-- Issue -->
        <% if (item.Issue) { %>
          <li>
            <h4>Issue</h4>
            <ul>
              <li><%= item.Issue[0] %></li>
            </ul>
          </li>
        <% } %>

        <!-- Pages -->
        <% if (item.StartPage || item.EndPage) { %>
          <li>
            <h4>Page(s)</h4>
            <ul>
              <li>

              <!-- Start page -->
              <% if (item.StartPage) { %>
                <%= item.StartPage %>
              <% } %>

              <!-- Only show the end page if-->
              <% if (item.StartPage && item.EndPage && item.StartPage[0] !== item.EndPage[0]) { %>

                <!-- End page -->
                <% if (item.EndPage) { %>
                  - <%= item.EndPage %>
                <% } %>

              <% } %>
              </li>
            </ul>
          </li>
        <% } %>

        <!-- Edition -->
        <% if (item.Edition) { %>
          <li>
            <h4>Edition</h4>
            <ul>
              <li><%= item.Edition[0] %></li>
            </ul>
          </li>
        <% } %>

        <!-- ISBN -->
        <% if (item.ISBN) { %>
          <li>
            <h4>ISBN</h4>
            <ul>
              <li><%= item.ISBN[0] %></li>
            </ul>
          </li>
        <% } %>
      </ul>

      <!-- Snippet -->
      <% if (item.Snippet) { %>
      <p>
        <%
          var snippet = replaceTags(item.Snippet[0]);
        %>
        <%- snippet %>
      </p>
      <% } %>

      <!-- SubjectTerms -->
      <% if (item.SubjectTerms) { %>
      <p>
        <% for (i in item.SubjectTerms) { %>
          <a href="#" title="<%= item.SubjectTerms[i] %>"><%= item.SubjectTerms[i] %></a>
          <% if (i < (item.SubjectTerms.length - 1)) { %>,<% } %>
        <% } %>
      </p>
      <% } %>

      <!-- Link -->
      <% if (item.link) { %>
      <p>
        <% if (item.ContentType) { %>
          <%- item.ContentType %>:
        <% } %>

        <!-- Link label (e.g. "Full Text Online", "Available Online", "Citation Online"...)-->
        <%
          var label = null;
          if (item.hasFullText === true) {
            label = 'Full Text Online';
            if (item.ContentType[0] === 'Reference') {
              label = 'Available Online';
            }
          } else {
            label = 'Citation Online';
          }
        %>
        <a href="<%= item.link %>" target="_blank" title="<%= label %>"><%= label %></a>
      </p>
      <% } %>

    </div>
  </div>
  <!-- End metadata -->

</article>
