<!-- Record -->
<article class="lg-search-result campl-listing-item clearfix">

  <!-- Thumbnail -->
  <div class="campl-column2">
    <div class="lg-resource-img">
      <%
        var thumbnail = searchUtil.getItemThumbnail(item);
        if (thumbnail) {
      %>
        <a href="/find-a-resource/summon/<%= item.ID %>">
          <img class="campl-scale-with-grid" src="<%= thumbnail %>" alt="<%- item.Title %>">
        </a>
      <%
        }
      %>
    </div>
  </div>

  <!-- Record metadata -->
  <div class="campl-column10">
    <div class="campl-content-container campl-listing-txt">

      <!-- Title -->
      <% if (item.Title) { %>
      <header>
        <h3 class="campl-listing-title">
          <%
            var title = searchUtil.replaceTags(item.Title[0]);
          %>
          <a href="/find-a-resource/summon/<%= item.ID %>"><%- title %></a>
        </h3>
      </header>
      <% } %>

      <!-- Metadata -->
      <ul class="lg-resource-properties">

        <!-- Authors -->
        <% if (item.Author) { %>
          <li>
            <h4>Author(s)</h4>
            <ul>
              <% for (i in item.Author) {
                var author = searchUtil.replaceTags(item.Author[i]);
                var author_stripped = searchUtil.removeTags(item.Author[i]);
              %>
              <li><a href="/find-a-resource?api=summon&q=Author:&quot;<%- author_stripped %>&quot;" title="<%- author_stripped %>"><%- author %></a></li>
              <% } %>
            </ul>
          </li>
        <% } %>

        <!-- Publisher -->
        <% if (item.PublicationTitle) { %>
          <li>
            <h4>Published by</h4>
            <ul>
              <% for (i in item.PublicationTitle) {
                var publicationTitle = searchUtil.replaceTags(item.PublicationTitle[i]);
              %>
              <li><%- publicationTitle %></li>
              <% } %>
            </ul>
          </li>
        <% } %>

        <!-- ISSN -->
        <% if (item.ISSN) { %>
          <li>
            <h4>ISSN</h4>
            <ul>
              <% for (i in item.ISSN) {
                var issn = searchUtil.replaceTags(item.ISSN[i]);
              %>
              <li><%- issn %></li>
              <% } %>
            </ul>
          </li>
        <% } %>

        <!-- Published -->
        <% if (item.PublicationDate_xml) { %>
          <li>
            <h4>Published</h4>
            <ul>
              <li>

                <!-- Month -->
                <% if (item.PublicationDate_xml[0].month) { %>
                  <%= item.PublicationDate_xml[0].month %>
                <% } %>

                <!-- Only show the slash when both month and year are present -->
                <% if (item.PublicationDate_xml[0].month && item.PublicationDate_xml[0].year) { %>/<% } %>

                <!-- Year -->
                <% if (item.PublicationDate_xml[0].year) { %>
                  <%= item.PublicationDate_xml[0].year %>
                <% } %>

              </li>
            </ul>
          </li>
        <% } %>

        <!-- Publication Series Title -->
        <% if (item.PublicationSeriesTitle) { %>
          <li>
            <h4>Publication series title</h4>
            <ul>
              <% for (i in item.PublicationSeriesTitle) {
                var title = searchUtil.replaceTags(item.PublicationSeriesTitle[i]);
              %>
              <li><%- title %></li>
              <% } %>
            </ul>
          </li>
        <% } %>

        <!-- Volume -->
        <% if (item.Volume) { %>
          <li>
            <h4>Volume</h4>
            <ul>
              <% for (i in item.Volume) {
                var volume = searchUtil.replaceTags(item.Volume[i]);
              %>
              <li><%- volume %></li>
              <% } %>
            </ul>
          </li>
        <% } %>

        <!-- Issue -->
        <% if (item.Issue) { %>
          <li>
            <h4>Issue</h4>
            <ul>
              <% for (i in item.Issue) {
                var issue = searchUtil.replaceTags(item.Issue[i]);
              %>
              <li><%- issue %></li>
              <% } %>
            </ul>
          </li>
        <% } %>

        <!-- Pages -->
        <% if (item.StartPage || item.EndPage) { %>
          <li>
            <h4>Page(s)</h4>
            <ul>
              <li>

              <!-- Start page -->
              <% if (item.StartPage) { %>
                <%= item.StartPage %>
              <% } %>

              <!-- Only show the end page if it exists and not equals the start page -->
              <% if ((item.StartPage && item.EndPage) && (item.StartPage[0] !== item.EndPage[0])) { %>

                <!-- End page -->
                <% if (item.EndPage) { %>
                  - <%= item.EndPage %>
                <% } %>

              <% } %>
              </li>
            </ul>
          </li>
        <% } %>

        <!-- Edition -->
        <% if (item.Edition) { %>
          <li>
            <h4>Edition</h4>
            <ul>
              <% for (i in item.Edition) {
                var edition = searchUtil.replaceTags(item.Edition[i]);
              %>
              <li><%- edition %></li>
              <% } %>
            </ul>
          </li>
        <% } %>

        <!-- ISBN -->
        <% if (item.ISBN) { %>
          <li>
            <h4>ISBN</h4>
            <ul>
              <% for (i in item.ISBN) {
                var isbn = searchUtil.replaceTags(item.ISBN[i]);
              %>
              <li><%- isbn %></li>
              <% } %>
            </ul>
          </li>
        <% } %>
      </ul>

      <!-- Snippet -->
      <% if (item.Snippet) {
        for (i in item.Snippet) {
          var snippet = searchUtil.replaceTags(item.Snippet[i]);
      %>
      <p><%- snippet %></p>
      <%
        }
      }
      %>

      <!-- SubjectTerms -->
      <% if (item.SubjectTerms) { %>
      <p>
        <% for (i in item.SubjectTerms) { %>
          <%
            var subjectTerm = searchUtil.removeTags(item.SubjectTerms[i]);
          %>
          <a href="/find-a-resource?api=summon&q=SubjectTerms:&quot;<%= subjectTerm %>&quot;" title="<%= subjectTerm %>"><%= subjectTerm %></a>
          <% if (i < (item.SubjectTerms.length - 1)) { %>,<% } %>
        <% } %>
      </p>
      <% } %>

      <!-- Link -->
      <% if (item.link) { %>
      <p>
        <% if (item.ContentType) { %>
          <%- item.ContentType %>:
        <% } %>

        <!-- Link label (e.g. "Full Text Online", "Available Online", "Citation Online"...)-->
        <%
          var label = null;
          if (item.hasFullText === true) {
            label = 'Full Text Online';
            if (item.ContentType[0] === 'Reference') {
              label = 'Available Online';
            }
          } else {
            label = 'Citation Online';
          }
        %>
        <a href="<%= item.link %>" target="_blank" title="<%= label %>"><%= label %></a>
      </p>
      <% } %>

    </div>
  </div>
  <!-- End metadata -->

</article>
