<label for="input-find-a-resource" class="hidden">Search for a resource</label>
<div class="campl-search-input lg-search-input lg-search-combo-select-input">

  <div class="btn-group lg-dropdown-selector js-type-dropdown">
    <button type="button" class="btn btn-sm dropdown-toggle lg-dropdown-toggle" data-toggle="dropdown">
      <% if (data.data.query && data.data.query.format && data.data.query.format !== 'all') { %>
        <span class="js-value" data-value="<%= data.data.query.format %>"><%= data.data.query.format %></span>
      <% } else { %>
        <span class="js-value" data-value="all">All types</span>
      <% } %>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#" class="js-option" data-value="all">All types</a>
      </li>

      <% for (format in data.data.formats) { %>
        <% if (data.data.formats[format].displayInSearch) { %>
          <li>
            <a href="#" class="js-option" data-value="<%= format %>"><%= format %></a>
          </li>
        <% } %>
      <% } %>
    </ul>
  </div>

  <input class="js-type-input" type="hidden" name="format" value="<%= data.data.query && data.data.query.format ? data.data.query.format : 'all' %>">

  <div class="lg-base-search">
    <div class="lg-search-input-wrap">
      <input type="text" id="input-find-a-resource" name="q" placeholder="e.g. 'Charles Darwin'"<% if (data.data.query && data.data.query.q) { %> value="<%= decodeURIComponent(data.data.query.q) %>"<% } %>/>
    </div>
    <input type="image" class="campl-search-submit lg-search-submit" alt="Search" src="/public/images/interface/btn-search-inpage.png" />
  </div>
</div>
