<!-- Page header -->
<% include ../globals/page-header %>

<!-- Custom header -->
<div class="campl-row campl-page-header">

  <!-- Navigation -->
  <div class="campl-wrap clearfix campl-local-navigation" id="local-nav">
    <% include ../globals/navigation %>
  </div>

  <!-- Page title -->
  <div class="campl-wrap clearfix campl-page-sub-title campl-recessed-sub-title">
    <div class="campl-content-container">
      <h2 class="campl-sub-title">
        <%= data.resource.Title %>
      </h2>
    </div>
  </div>
</div>

<!-- Content -->
<div class="campl-row campl-content campl-recessed-content">
  <div class="campl-wrap clearfix">
    <div class="campl-column8">
      <div class="lg-resource-detail">
        <div class="campl-column3 lg-resource-img-wrap">
          <div class="lg-resource-img-outer">
            <div class="lg-resource-img-inner">
            <%
              var thumbnail = searchUtil.getItemThumbnail(data.resource);
              if (thumbnail) {
            %>
              <img class="campl-scale-with-grid" src="<%= thumbnail %>"/>
            <% } else { %>
              <img class="campl-scale-with-grid" src="/public/images/resource-no-image.jpg" alt="No image available">
            <% } %>
            </div>
          </div>
        </div>
        <div class="campl-column9 lg-resource-properties-wrap pull-right">
          <ul class="campl-content-container lg-resource-properties">

            <!-- Title -->
            <% if (data.resource.Title) { %>
              <li>
                <h4>Title</h4>
                <ul>
                  <%= data.resource.Title %>
                </ul>
              </li>
            <% } %>

            <!-- Author(s) -->
            <% if (data.resource.Author) { %>
              <li>
                <h4>Author(s)</h4>
                <ul>
                  <% for (i in data.resource.Author) { %>
                    <li><%= data.resource.Author[i] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>

            <!-- ContentType -->
            <% if (data.resource.ContentType) { %>
              <li>
                <h4>ContentType</h4>
                <ul>
                  <% for (i in data.resource.ContentType) { %>
                    <li><%= data.resource.ContentType[i] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>

            <!-- Series -->
            <% if (data.resource.Series) { %>
              <li>
                <h4>Series</h4>
                <ul>
                  <% for (i in data.resource.Series) { %>
                    <li><%= data.resource.Series[i] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>

            <!-- Publication title -->
            <% if (data.resource.PublicationTitle) { %>
              <li>
                <h4>Publication title</h4>
                <ul>
                  <% for (i in data.resource.PublicationTitle) { %>
                    <li><%= data.resource.PublicationTitle[i] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>

            <!-- Publisher -->
            <% if (data.resource.Publisher) { %>
              <li>
                <h4>Publisher</h4>
                <ul>
                  <% for (i in data.resource.Publisher) { %>
                    <li><%= data.resource.Publisher[i] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>

            <!-- Publication date -->
            <% if (data.resource.PublicationDate_xml) { %>
              <li>
                <h4>Published</h4>
                <ul>
                  <li>

                    <!-- Month -->
                    <% if (data.resource.PublicationDate_xml[0].month) { %>
                      <%= data.resource.PublicationDate_xml[0].month %>
                    <% } %>

                    <!-- Only show the slash when both month and year are present -->
                    <% if (data.resource.PublicationDate_xml[0].month && data.resource.PublicationDate_xml[0].year) { %>/<% } %>

                    <!-- Year -->
                    <% if (data.resource.PublicationDate_xml[0].year) { %>
                      <%= data.resource.PublicationDate_xml[0].year %>
                    <% } %>

                  </li>
                </ul>
              </li>
            <% } %>

            <!-- Edition -->
            <% if (data.resource.Edition) { %>
              <li>
                <h4>Edition</h4>
                <ul>
                  <% for (i in data.resource.Edition) { %>
                    <li><%= data.resource.Edition[i] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>

            <!-- Volume -->
            <% if (data.resource.Volume) { %>
              <li>
                <h4>Volume</h4>
                <ul>
                  <% for (i in data.resource.Volume) { %>
                    <li><%= data.resource.Volume[i] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>

            <!-- Issue -->
            <% if (data.resource.Issue) { %>
              <li>
                <h4>Issue</h4>
                <ul>
                  <% for (i in data.resource.Issue) { %>
                    <li><%= data.resource.Issue[i] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>

            <!-- Pages -->
            <% if (data.resource.StartPage || data.resource.EndPage) { %>
              <li>
                <h4>Page(s)</h4>
                <ul>
                  <li>

                  <!-- Start page -->
                  <% if (data.resource.StartPage) { %>
                    <%= data.resource.StartPage %>
                  <% } %>

                  <!-- Only show the end page if-->
                  <% if ((data.resource.StartPage && data.resource.EndPage) && (data.resource.StartPage[0] !== data.resource.EndPage[0])) { %>

                    <!-- End page -->
                    <% if (data.resource.EndPage) { %>
                      - <%= data.resource.EndPage %>
                    <% } %>

                  <% } %>
                  </li>
                </ul>
              </li>
            <% } %>

            <!-- ISSN -->
            <% if (data.resource.ISSN) { %>
              <li>
                <h4>ISSN</h4>
                <ul>
                  <% for (i in data.resource.ISSN) { %>
                    <li><%= data.resource.ISSN[i] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>

            <!-- EISSN -->
            <% if (data.resource.EISSN) { %>
              <li>
                <h4>EISSN</h4>
                <ul>
                  <% for (i in data.resource.EISSN) { %>
                    <li><%= data.resource.EISSN[i] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>

            <!-- ISBN -->
            <% if (data.resource.ISBN) { %>
              <li>
                <h4>ISBN</h4>
                <ul>
                  <% for (i in data.resource.ISBN) { %>
                    <li><%= data.resource.ISBN[i] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>

            <!-- DOI -->
            <% if (data.resource.DOI) { %>
              <li>
                <h4>DOI</h4>
                <ul>
                  <% for (i in data.resource.DOI) { %>
                    <li><%= data.resource.DOI[i] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>

            <!-- Genre -->
            <% if (data.resource.Genre) { %>
              <li>
                <h4>Genre</h4>
                <ul>
                  <% for (i in data.resource.Genre) { %>
                    <li><%= data.resource.Genre[i] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>

            <!-- SubjectTerms -->
            <% if (data.resource.SubjectTerms) { %>
              <li>
                <h4>Subject terms</h4>
                <ul>
                  <li>
                  <% for (i in data.resource.SubjectTerms) { %>
                    <%= data.resource.SubjectTerms[i] %>
                    <% if (i < (data.resource.SubjectTerms.length - 1)) { %>,<% } %>
                  <% } %>
                  </li>
                </ul>
              </li>
            <% } %>

            <!-- Language -->
            <% if (data.resource.Language) { %>
              <li>
                <h4>Language</h4>
                <ul>
                  <% for (i in data.resource.Language) { %>
                    <li><%= data.resource.Language[i] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>

            <!-- Copyright -->
            <% if (data.resource.Copyright) { %>
              <li>
                <h4>Copyright</h4>
                <ul>
                  <% for (i in data.resource.Copyright) { %>
                    <li><%= data.resource.Copyright[i] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>

            <!-- Link -->
            <% if (data.resource.link) { %>
              <li>
                <h4>eResource</h4>
                <ul>
                  <li><a href="<%= data.resource.link %>" target="_blank">View the resource</a></li>
                </ul>
              </li>
            <% } %>

          </ul>
        </div>
      </div>
      <!-- resource detailed information ends  -->

    </div>
    <!-- left content block ends -->

    <div class="campl-column4 campl-secondary-content">
      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h3>Share & print</h3>
        </header>

        <ul class='campl-unstyled-list campl-related-links'>
          <li><a href="http://www.facebook.com/sharer.php?s=100&p[url]=<%= data.shareUrl %>&p[summary]=<%= data.shareText %>&p[title]=Cambridge%20Libraries" target="_blank"><span class="lg-icon-facebook"></span> Share on Facebook</a></li>
          <li><a href="http://twitter.com/share?url=<%= data.shareUrl %>&text=<%= data.shareText %>" target="_blank"><span class="lg-icon-twitter"></span> Tweet</a></li>
          <li><a class="js-btn-print" href="#">Print record</a></li>
          <% if (data.resource.ExternalDocumentID) { %>
            <li><a href="http://search.lib.cam.ac.uk/export.ashx?type=export-ris&file=export.ris&itemid=<%= data.resource.ExternalDocumentID %>" target="_blank">Export to RefWorks/Endnote</a></li>
            <li><a href="http://www.lib.cam.ac.uk/ab_support/bibtex.php?itemid=<%= data.resource.ExternalDocumentID %>" target="_blank">Export as BibTeX</a></li>
          <% } %>
        </ul>
      </section>
      <!-- Share & print ends -->

      <!--
      <section class="campl-content-container">
        <header class="campl-heading-container">
          <h3>More information</h3>
        </header>
        <ul class='campl-unstyled-list campl-related-links'>
          <li><a href="#">About this book</a></li>
          <li><a href="#">More information in LibraryThing</a></li>
        </ul>
      </section>
      -->
      <!-- More information ends -->
    </div>
  </div>
</div>
